body {
  margin: 0;
  background: #000; 
	font-family: 'TT Norms';
	font-size: 14px;
}
:root {
	--y-color: #52ad25;
	--p-color: #52ad25;
}
.body h1 {    font-size: 40px;}
.video-bg {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -100;
  top: 0px;
}
.video-bg:after {
	content: '';
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.60);
}
video {
		position: fixed;
		display: block;
    min-height: 100%;
    min-width: 100%;
}

.header {
	display: flex;
	box-sizing: border-box;
	padding: 40px;
}
.logo {
	max-width: 150px;
	width: 100%;
}
.number {
	text-align: right;
	width: 100%;
}
.number a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 28px;
}
.number span {
	color: var(--y-color);
	margin-top: 5px;
	display: block;
}

.body {
	text-align: center;
	display: block;
	width: 100%;
	color: #fff;
	margin-top: 7%;
	padding: 0px 20px;
	box-sizing: border-box;
	padding-bottom: 20px;
}
.body .big-text	{
	font-size: 35px;
	margin: 35px 0px;
}
.body .normal-text	{
	font-size: 28px;
	color: var(--y-color);
	margin-bottom: 15px;
}
.body .smoll-text	{
	font-size: 20px;
	margin-bottom: 30px;
}
.body .open-b {
	padding: 0px 20px;
	display: inline-block;
	line-height: 50px;
	border-radius: 25px;
	background: var(--y-color);
	color: #fff;
	cursor: pointer;
	box-shadow: 0px 4px 25px 4px rgba(139, 195, 74, 0.49);
	transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out;
}
.body .open-b:hover {
	-webkit-transform: scale(1.06923077);
  -ms-transform: scale(1.06923077);
  transform: scale(1.06923077);
}

.popup {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999999;
}
.popup .bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.60);
}
.popup .content {
	width: 880px;
	height: 570px;
	position: absolute;
	background: #fff;
	left: 50%;
	top: 50%;
	margin-top: -285px;
	margin-left: -440px;
	padding: 30px;
	box-sizing: border-box;
}
.popup .title-popup {
	display: flex;
}
.popup .title-popup i {
	margin-right: 5px;
	color: var(--p-color);
	display: inline-block;
}
.popup .title-popup span {
	line-height: 26px;
	font-size: 16px;
}
.popup section {
	padding: 20px 0px;
}
.popup .title-question {
	font-size: 30px;
	margin-bottom: 15px;
}
.popup .progress__label {
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    color: #7e8ca8;
    margin-bottom: 8px;
    margin-bottom: 10px;
}
.popup .progress__label span {
    font-size: 14px;
    color: var(--p-color);
    margin-left: 5px;
}
.popup .progress {
    height: 7px;
    position: relative;
    background: #dbdbdb;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px hsla(0,0%,100%,.3);
    overflow: hidden;
    border-radius: 3px;
}
.popup .progress span {
    display: block;
    height: 100%;
    background-color: var(--p-color);
    box-shadow: inset 0 2px 9px hsla(0,0%,100%,.3), inset 0 -2px 6px rgba(0,0,0,.4);
    position: relative;
    transition: all .3s ease;
}
.popup .progress span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent);
    z-index: 1;
    background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    animation: move 2s linear infinite;
}
@-webkit-keyframes move{
    0%{
        background-position:0 0
    }
    to{
        background-position:50px 50px
    }
}
@keyframes move{
    0%{
        background-position:0 0
    }
    to{
        background-position:50px 50px
    }
}
.progress span, .progress span:after {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
.tabcontent {
	display: none;
	-webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.footer-popup {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	margin-bottom: 30px;
	padding: 0px 30px;
	box-sizing: border-box;
}
.footer-popup button {
	font-size: 18px;
	height: 48px;
	line-height: 48px;
	float: left;
	cursor: pointer;
	font-weight: 300;
	color: #888;
	border: 0px;
	background: #fff;
	box-shadow: 1.7px 5.8px 21px 0 rgba(0,0,0,.08);
	display: flex;
	padding: 0px 30px;
	border-radius: 24px;
	outline: none;
}
.footer-popup button.p-button {
	color: #fff;
	background: var(--p-color);
	box-shadow: 1.7px 5.8px 21px 0 rgba(139, 195, 74, 0.71);
}
.footer-popup button i {
	margin-right: 10px;
}
.footer-popup button.button-next {
	float: right;
}
.footer-popup button[disabled] {
    opacity: .5;
    cursor: not-allowed;
}

.popup-body {
	padding: 30px 0px;
}

#img-question {
	display: flex;
	text-align: justify;
}
#img-question > div {
	max-width: 240px;
	cursor: pointer;
	box-shadow: 0.6px 1.9px 9px 0 rgba(0,0,0,.1);
	margin-right: 30px;
	overflow: hidden;
	border-radius: 5px;
	box-sizing: border-box;
	position: relative;
}
#img-question > div img {
	width: 100%;
}
#img-question > div:hover,
#img-question > div.active {
	border: 1px solid rgba(139, 195, 74, 0.71);
	box-shadow:  1.7px 5.8px 21px 0 rgba(139, 195, 74, 0.44);
}
#img-question > div.active:after {
	content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
  background: #fff;
  z-index: 999;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 15px;
  border: 3px solid var(--p-color);
}
#img-question .answer-image__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 50px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #69748c;
    overflow: hidden;
}



.popup-body select {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	padding: 0px 10px;
	cursor: pointer;
	border: 1px solid #dbdbdb;
	font-size: 22px;
	outline: none;
}

.popup-body #answer-variants {
	display: flex;
	flex-wrap: wrap;
}
.popup-body #answer-variants div.radio-question {
	width: 49%;
  font-size: 18px;
  min-height: 50px;
  line-height: 28px;
  padding: 10px 10px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 15px;
  align-items: center;
  display: flex;
}
.popup-body #answer-variants div.radio-question:nth-child(2n-1) {
	margin-right: 1%;
}
.popup-body #answer-variants div.radio-question:nth-child(2n) {
	margin-left: 1%;
}
.popup-body #answer-variants div.radio-question:hover,
.popup-body #answer-variants div.radio-question.active {
    border: solid 1px var(--p-color);
    box-shadow: 1.7px 5.8px 21px 0 rgba(0,0,0,.07);
}
.popup-body #answer-variants div.radio-question i {
	margin-right: 10px;
	color: #dbdbdb;
}
.popup-body #answer-variants div.radio-question:hover i {
	color: var(--p-color);
}
.popup-body #answer-variants div.radio-question i.mdi-radiobox-marked,
.popup-body #answer-variants div.radio-question.active i.mdi-radiobox-blank,
.popup-body #answer-variants div.radio-question i.mdi-checkbox-marked,
.popup-body #answer-variants div.radio-question.active i.mdi-checkbox-blank {
	display: none;
}
.popup-body #answer-variants div.radio-question.active i.mdi-radiobox-marked,
.popup-body #answer-variants div.radio-question.active i.mdi-checkbox-marked {
	display: inline-block;
	color: var(--p-color);
}

.finish-title {
	width: 100%;
	font-size: 34px;
	color: #363636;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 25px;
}
.finish-title i {
	display: block;
	font-size: 50px;
	color: var(--p-color);
}
#eight .popup-body {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 30px;
}
#eight .popup-body .left-body {
	width: 60%;
	padding-right: 30px;
	box-sizing: border-box;
}
#eight .popup-body .left-body p {
  color: #7e8ca8;
  text-align: left;
  font-size: 18px;
  margin: 0px;
}
#eight .popup-body .right-body {
	width: 40%;
}

.leed-form__discount {
    font-size: 18px;
    margin: 30px 0px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 350px;
    color: #2e2e54;
}
.leed-form__discount-value {
    color: #E91E63;
    font-size: 24px;
}
.leed-form__discount-sep {
    font-weight: 400;
    color: #eae9f1;
}

.leed-form__extra {
    background: #f5f7f9;
    padding: 20px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #7e8ca8;
    font-weight: 500;
    font-size: 18px;
}
.leed-form__extra .leed-form__iconContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1rem;
}
.leed-form__iconContainer {
    width: 46px;
    color: var(--p-color);
    font-size: 29px;
}

.right-body form div {
	position: relative;
	margin-bottom: 20px;
}
.right-body form input {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	padding: 0px 10px 0px 50px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #dbdbdb;
	outline: none;
}
.right-body form .icon {
    color: #333;
    height: 50px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 50px;
    z-index: 4;
    text-align: center;
    line-height: 50px;
}
.right-body form .icon i {
    font-size: 30px;
}
.right-body form button {
	display: flex;
	width: 100%;
	font-size: 16px;
	color: #fff;
	background: var(--p-color);
	border: 0px;
	align-items: center;
	padding: 20px 25px;
	border-radius: 38px;
	outline: none;
	cursor: pointer;
	box-shadow: 1.7px 5.8px 21px 0 rgba(139, 195, 74, 0.71);
}
.right-body form button i {
	margin-right: 10px;
}
.right-body .mini-text {
	  margin-top: 20px;
    color: #aca7c7;
    line-height: 1.25;
    font-size: 12px;
    text-align: center;
    width: 100%;
    display: block;
}
.right-body .mini-text a {
	color: var(--p-color);
	text-decoration: none;
}

.icon-close {
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top: 10px;
	margin-right: 10px;
	cursor: pointer;
}

@media (max-width: 920px) {
	.popup .content {
		width: 660px;
		margin-left: -330px;
	}
	.popup .title-question {
		font-size: 24px;
	}
	.popup-body #answer-variants div.radio-question {
		font-size: 14px;
		line-height: 14px;
		min-height: 10px;
		margin-bottom: 10px;
	}
	.popup-body select {
		height: 36px;
		line-height: 36px;
		font-size: 14px;
	}
	.finish-title {
		margin-top: 0px;
		bottom: 0px;
	}
	.finish-title i {
		display: inline-block;
		font-size: 30px;
	}
	#eight .popup-body .left-body,
	#eight .popup-body .right-body {
		width: 100%;
		padding: 0px;
	}
	#eight .popup-body .left-body {
		margin-bottom: 10px;
	}
	.leed-form__discount {
		margin: 10px 0px;
	}
	#eight .popup-body {
		padding: 10px 30px;
	}
	h1 {
		font-size: 28px;
	}
	.body .big-text {
		font-size: 30px;
		margin: 16px 0px;
	}
	.popup .title-popup span {
		width: 64%;
		line-height: 18px;
    font-size: 14px;
	}
}
@media (min-width: 671px) {
	.vasha-skidka {
		position: absolute;
		right: 0px;
		top: 0px;
		background: #ffe67a;
		padding: 10px 20px;
		color: #000;
		border-radius: 5px;
		margin-right: 45px;
	  margin-top: 15px;
	}
}
.vasha-skidka {
	cursor: #000;
}
@media (max-width: 670px) {
	.popup .content {
		width: 320px;
		padding: 15px;
		margin-left: -160px;
		top: 0px;
		margin-top: 0px;
		height: 100%;
		position: fixed;
		overflow-y: scroll;
		height: 100%;
		box-sizing: border-box;
	}
	.footer-popup button {
		font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0px 16px;
    border-radius: 15px;
	}
	.popup .title-popup span {
		line-height: 14px;
		font-size: 12px;
		padding-right: 20px;
	}
	.popup .title-question {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.popup section {
		padding: 10px 0px;
	}
	.popup-body {
		padding: 15px 0px;
	}
	#img-question {
		flex-wrap: wrap;
	}
	#img-question > div {
		margin-right: 0px;
    width: 100%;
    margin-bottom: 15px;
    max-width: 100%;
	}
	.footer-popup {
		padding: 10px 15px;
		margin-bottom: 0px;
		background: #fff;
		position: fixed;
		bottom: 0px;
		width: 320px;
		left: 50%;
		margin-left: -160px;
	}
	.popup-body #answer-variants div.radio-question:nth-child(2n-1),
	.popup-body #answer-variants div.radio-question:nth-child(2n) {
		margin: 0px;
		margin-bottom: 10px;
	}
	.popup-body #answer-variants div.radio-question {
		width: 100%;
	}
	#eight .popup-body {
		padding: 10px 0px;
	}
}
@media (max-width: 570px) {
	.header {
		padding: 20px;
		flex-wrap: wrap;
	}
	.logo {
		margin: 0 auto;
		width: 150px;
		display: block;
		margin-bottom: 15px;
	}
	.number {
		text-align: center;
	}
	.body {
		margin-top: 0px;
	}
	h1 {
		margin: 0px;
		font-size: 22px;
	}
	.body .smoll-text {
    font-size: 14px;
    margin-bottom: 20px;
}
.body .normal-text {
    font-size: 20px;
    color: var(--y-color);
    margin-bottom: 5px;
}
.body .big-text {
    font-size: 22px;
    margin: 12px 0px;
}
.icon-close {
	position: fixed;
	background: #fff;
}
}