@media (min-width: 992px) {
  /*slider*/
  /* line 4, responsive.scss */
  .slider .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    /* line 9, responsive.scss */
    .slider .row:before, .slider .row:after {
      display: none; }
  /* line 13, responsive.scss */
  .slider-form {
    max-width: 340px;
    margin: 30px 0px 30px auto; }

  /*---*/
  /*actions*/
  /* line 23, responsive.scss */
  .action-slider > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; }
    /* line 28, responsive.scss */
    .action-slider > .row:before, .action-slider > .row:after {
      display: none; }

  /*---*/
  /* line 36, responsive.scss */
  .col-md-9alt {
    width: 70%; }

  /* line 37, responsive.scss */
  .col-md-3alt {
    width: 30%; }

  /* line 39, responsive.scss */
  .col-md-8alt {
    width: 65%; }

  /* line 40, responsive.scss */
  .col-md-4alt {
    width: 35%; } }
@media (max-width: 1580px) {
  /*slider*/
  /* line 46, responsive.scss */
  .slider:before {
    left: auto;
    right: 95%; }
  /* line 50, responsive.scss */
  .slider:after {
    right: auto;
    left: 95%; }

  /*---*/ }
@media (max-width: 1359px) {
  /*about*/
  /* line 61, responsive.scss */
  .about-menu {
    margin: 0px; }
  /* line 65, responsive.scss */
  .about-content .content {
    margin: -20px 0px; }
  /* line 68, responsive.scss */
  .about-content:after {
    display: none; }

  /*---*/ }
@media (max-width: 1239px) {
  /*header*/
  /* line 78, responsive.scss */
  .pull-right {
    max-width: 285px;
  }

  /*---*/
  /*actions*/
  /* line 104, responsive.scss */
  .action-short {
    padding: 15px; }
    /* line 107, responsive.scss */
    .action-short--timer span {
      width: 55px; }

  /*---*/
  /* line 115, responsive.scss */
  .blog > .row > [class^="col-"],
  .page-reviews > .row > [class^="col-"] {
    flex-basis: 33.3%; } }
@media (max-width: 991px) {
  /*slider*/
  /* line 124, responsive.scss */
  .slider .owl-dots {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 440px; }

  /*---*/
  /*services*/
  /* line 136, responsive.scss */
  .services > .row > .col-xs-6 {
    flex-basis: 33.33333333%; }

  /*---*/
  /*about*/
  /* line 146, responsive.scss */
  .about-content .content {
    margin: -20px 0px; }

  /* line 151, responsive.scss */
  .about-menu-item:hover .about-menu-item--toggle, .about-menu-item .active {
    color: #0d0d0d;
    border-bottom-color: #fff; }

  /* line 155, responsive.scss */
  .about-menu-item .about-menu-item--toggle {
    border-bottom: 1px dashed;
    border-bottom-color: currentColor !important; }

  /* line 159, responsive.scss */
  .about-menu-item .m-active {
    color: #44567b !important;
    border-bottom-style: solid;
    border-bottom-color: currentColor !important; }

  /*---*/
  /*actions*/
  /* line 168, responsive.scss */
  .action-short {
    margin: 30px 0px 0px;
    padding: 30px 15px; }
    /* line 172, responsive.scss */
    .action-short--timer span {
      width: 70px; }

  /*---*/
  /*tariffs on pages*/
  /* line 183, responsive.scss */
  .tariffs > .row > [class^="col-"] {
    flex-basis: 50%; }

  /*---*/
  /* line 190, responsive.scss */
  .blog > .row > [class^="col-"],
  .page-reviews > .row > [class^="col-"] {
    flex-basis: 50%; }

  /* line 194, responsive.scss */
  .footer-copyright {
    text-align: center !important; } }
@media (max-width: 767px) {
  /* line 200, responsive.scss */
  body {
    border-top: none;
    padding-top: 64px; }

  /* line 205, responsive.scss */
  .modalk {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1rem; }

  /* line 215, responsive.scss */
  .section-title {
    font-size: 24px;
    line-height: 28px; }

  /*slider*/
  /* line 223, responsive.scss */
  .slider--collection {
    font-size: 20px;
    line-height: 24px; }
  /* line 227, responsive.scss */
  .slider-title {
    font-size: 30px;
    line-height: 34px; }

  /* line 233, responsive.scss */
  .promo--collection {
    font-size: 20px;
    line-height: 24px; }
  /* line 237, responsive.scss */
  .promo-title {
    font-size: 30px;
    line-height: 34px; }

  /*---*/
  /*benefits*/
  /* line 246, responsive.scss */
  .benefits-items {
    flex-wrap: wrap; }
  /* line 249, responsive.scss */
  .benefits-item {
    width: 50%; }

  /* line 253, responsive.scss */
  .benefits-repair-item {
    width: 100%; }

  /*---*/
  /*services*/
  /* line 261, responsive.scss */
  .services > .row > .col-xs-6 {
    flex-basis: 50%; }
  /* line 265, responsive.scss */
  .services .button {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    max-width: 160px; }

  /*---*/
  /*reviews*/
  /* line 277, responsive.scss */
  .reviews-item:after {
    right: 30px; }

  /*---*/
  /*news*/
  /* line 285, responsive.scss */
  .news {
    margin: 0px 0px 30px 0px; }
    /* line 289, responsive.scss */
    .news-menu-item br {
      display: none !important; }

  /*---*/
  /*cards on pages*/
  /* line 300, responsive.scss */
  .card > .row > [class^="col-"] {
    flex-basis: 100%; }
  /* line 305, responsive.scss */
  .card-item--image {
    width: 72px;
    height: 72px;
    margin: 0px 20px 0px 0px; }

  /*---*/
  /*tariffs on pages*/
  /* line 317, responsive.scss */
  .tariffs > .row > [class^="col-"] {
    flex-basis: 100%; }

  /*---*/
  /* line 324, responsive.scss */
  .models > .row > [class^="col-"],
  .blog > .row > [class^="col-"],
  .page-reviews > .row > [class^="col-"] {
    flex-basis: 50%; }

  /* line 330, responsive.scss */
  .defects-item {
    width: 50%; }

  /* line 334, responsive.scss */
  .slider-actions {
    margin-bottom: 65px; }
    /* line 336, responsive.scss */
    .slider-actions .slider-elements {
      bottom: -20px; } }
@media (max-width: 567px) {
  /*cart*/
  /* line 346, responsive.scss */
  .services-item--quantity label {
    display: block;
    margin: 0px 0px 2px; }

  /*---*/
  /* line 353, responsive.scss */
  .blog > .row > [class^="col-"],
  .page-reviews > .row > [class^="col-"] {
    flex-basis: 100%; }

  /* line 357, responsive.scss */
  .button {
    margin-top: 10px; } }
@media (max-width: 424px) {
  /* line 363, responsive.scss */
  .slider-description, .promo-description {
    max-width: 250px; }

  /* line 366, responsive.scss */
  .services-table-header {
    /*padding-left:0;*/ }

  /* line 369, responsive.scss */
  .services-table-line {
    padding-left: 0; }

  /*services*/
  /* line 373, responsive.scss */
  .services {
    margin: 0px 0px 50px; }
    /* line 376, responsive.scss */
    .services > .row > .col-xs-6 {
      flex-basis: 50%; }
    /* line 380, responsive.scss */
    .services .row {
      margin-left: -5px;
      margin-right: -5px; }
    /* line 384, responsive.scss */
    .services .col-xs-6 {
      padding-left: 5px;
      padding-right: 5px; }
    /* line 388, responsive.scss */
    .services-item {
      padding: 10px 10px 15px;
      margin: 0px 0px 10px; }

  /*---*/
  /*news*/
  /* line 399, responsive.scss */
  .news-menu-item br {
    display: block !important; }

  /*---*/
  /*actions*/
  /* line 409, responsive.scss */
  .action-short {
    padding: 30px 15px; }
    /* line 412, responsive.scss */
    .action-short--timer span {
      width: 50px; }

  /*---*/
  /*alert*/
  /* line 421, responsive.scss */
  .alert {
    width: 90%;
    padding: 20px !important; }

  /*---*/
  /* line 427, responsive.scss */
  .models-item {
    flex-direction: column; }
    /* line 429, responsive.scss */
    .models-item--thumb {
      width: 100px;
      height: 100px; }
    /* line 433, responsive.scss */
    .models-item--title {
      margin: 5px 0px 0px; }

  /* line 438, responsive.scss */
  .defects-item {
    width: 100%; } }
