.bosch .colorbg,
.bosch footer .body .right .content ul li a:before,
.bosch .popup .inner .close,
.bosch footer .menu-toggle span,
.bosch .tabs-style-linemove nav li:last-child::before,
.bosch .owl-theme .owl-nav [class*=owl-],
.bosch .green,
.bosch #number-10 .container .bottons a.active,
.bosch #number-10 .container .bottons a:hover,
.bosch .topcontactinfo .boxcontact:before,
.bosch .topcontactinfo .boxcontact .right a:before {background-color: #215f8b ! important;}
.bosch .green.btn:before {background-color: #fff ! important;}
.bosch .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.bosch .colortext,
.bosch .colortexthover:hover,
.bosch .tabs-style-linemove nav li.tab-current a {color: #215f8b ! important;}
.bosch .colorsvgf {fill: #fff ! important;}
.bosch .colorsvg,
.bosch nav .fil0,
.bosch .tabs-style-linemove .fil0,
.bosch .tabs-style-linemove .colorsvg,
.bosch nav li ul .colorsvg,
.bosch nav li ul .fil0, .bosch .svgcolor{fill: #215f8b ! important;}
.bosch .colorborder,
.bosch .colorborderhover:hover,
.bosch .colorborderhover:focus,
.bosch .topmenu > ul > li > ul li a,
.bosch .title {border-color: #215f8b ! important;}
.bosch .tabs-style-linemove nav li.tab-current a { transform:translate3d(0,4px,0);  -webkit-transform:translate3d(0,4px,0);}

.siemens .colorbg,
.siemens footer .body .right .content ul li a:before,
.siemens .popup .inner .close,
.siemens footer .menu-toggle span,
.siemens .tabs-style-linemove nav li:last-child::before,
.siemens .owl-theme .owl-nav [class*=owl-],
.siemens .green,
.siemens #number-10 .container .bottons a.active,
.siemens #number-10 .container .bottons a:hover,
.siemens .topcontactinfo .boxcontact:before,
.siemens .topcontactinfo .boxcontact .right a:before {background-color: #41aaaa ! important;}
.siemens .green.btn:before {background-color: #fff ! important;}
.siemens .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.siemens .colortext,
.siemens .colortexthover:hover,
.siemens .tabs-style-linemove nav li.tab-current a {color: #41aaaa ! important;}
.siemens .colorsvgf {fill: #fff ! important;}
.siemens .colorsvg,
.siemens nav .fil0,
.siemens .tabs-style-linemove .fil0,
.siemens .tabs-style-linemove .colorsvg,
.siemens nav li ul .colorsvg,
.siemens nav li ul .fil0, .bosch .svgcolor{fill: #41aaaa ! important;}
.siemens .colorborder,
.siemens .colorborderhover:hover,
.siemens .colorborderhover:focus,
.siemens .topmenu > ul > li > ul li a,
.siemens .title {border-color: #41aaaa ! important;}
.siemens .tabs-style-linemove nav li.tab-current a { transform:translate3d(0,4px,0);  -webkit-transform:translate3d(0,4px,0);}

.delonghi .colorbg,
.delonghi footer .body .right .content ul li a:before,
.delonghi .popup .inner .close,
.delonghi footer .menu-toggle span,
.delonghi .tabs-style-linemove nav li:last-child::before,
.delonghi .owl-theme .owl-nav [class*=owl-],
.delonghi .green,
.delonghi #number-10 .container .bottons a.active,
.delonghi #number-10 .container .bottons a:hover,
.delonghi .topcontactinfo .boxcontact:before,
.delonghi .topcontactinfo .boxcontact .right a:before {background-color: #215f8b ! important;}
.delonghi .green.btn:before {background-color: #fff ! important;}
.delonghi .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.delonghi .colortext,
.delonghi .colortexthover:hover,
.delonghi .tabs-style-linemove nav li.tab-current a {color: #215f8b ! important;}
.delonghi .colorsvgf {fill: #fff ! important;}
.delonghi .colorsvg,
.delonghi nav .fil0,
.delonghi .tabs-style-linemove .fil0,
.delonghi .tabs-style-linemove .colorsvg,
.delonghi nav li ul .colorsvg,
.delonghi nav li ul .fil0, .bosch .svgcolor{fill: #215f8b ! important;}
.delonghi .colorborder,
.delonghi .colorborderhover:hover,
.delonghi .colorborderhover:focus,
.delonghi .topmenu > ul > li > ul li a,
.delonghi .title {border-color: #215f8b ! important;}
.delonghi .tabs-style-linemove nav li.tab-current a { transform:translate3d(0,4px,0);  -webkit-transform:translate3d(0,4px,0);}

.saeco .colorbg,
.saeco footer .body .right .content ul li a:before,
.saeco .popup .inner .close,
.saeco footer .menu-toggle span,
.saeco .tabs-style-linemove nav li:last-child::before,
.saeco .owl-theme .owl-nav [class*=owl-],
.saeco .green,
.saeco #number-10 .container .bottons a.active,
.saeco #number-10 .container .bottons a:hover,
.saeco .topcontactinfo .boxcontact:before,
.saeco .topcontactinfo .boxcontact .right a:before {background-color: #d71921 ! important;}
.saeco .green.btn:before {background-color: #fff ! important;}
.saeco .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.saeco .colortext,
.saeco .colortexthover:hover,
.saeco .tabs-style-linemove nav li.tab-current a {color: #d71921 ! important;}
.saeco .colorsvgf {fill: #fff ! important;}
.saeco .colorsvg,
.saeco nav .fil0,
.saeco .tabs-style-linemove .fil0,
.saeco .tabs-style-linemove .colorsvg,
.saeco nav li ul .colorsvg,
.saeco nav li ul .fil0, .bosch .svgcolor{fill: #d71921 ! important;}
.saeco .colorborder,
.saeco .colorborderhover:hover,
.saeco .colorborderhover:focus,
.saeco .topmenu > ul > li > ul li a,
.saeco .title {border-color: #d71921 ! important;}
.saeco .tabs-style-linemove nav li.tab-current a { transform:none;  -webkit-transform:none;}

.philips .colorbg,
.philips footer .body .right .content ul li a:before,
.philips .popup .inner .close,
.philips footer .menu-toggle span,
.philips .tabs-style-linemove nav li:last-child::before,
.philips .owl-theme .owl-nav [class*=owl-],
.philips .green,
.philips #number-10 .container .bottons a.active,
.philips #number-10 .container .bottons a:hover,
.philips .topcontactinfo .boxcontact:before,
.philips .topcontactinfo .boxcontact .right a:before {background-color: #3182b1 ! important;}
.philips .green.btn:before {background-color: #fff ! important;}
.philips .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.philips .colortext,
.philips .colortexthover:hover,
.philips .tabs-style-linemove nav li.tab-current a {color: #3182b1 ! important;}
.philips .colorsvgf {fill: #fff ! important;}
.philips .colorsvg,
.philips nav .fil0,
.philips .tabs-style-linemove .fil0,
.philips .tabs-style-linemove .colorsvg,
.philips nav li ul .colorsvg,
.philips nav li ul .fil0, .bosch .svgcolor{fill: #3182b1 ! important;}
.philips .colorborder,
.philips .colorborderhover:hover,
.philips .colorborderhover:focus,
.philips .topmenu > ul > li > ul li a,
.philips .title {border-color: #3182b1 ! important;}
.philips .tabs-style-linemove nav li.tab-current a { transform:translate3d(0,4px,0);  -webkit-transform:translate3d(0,4px,0);}

.jura .colorbg,
.jura footer .body .right .content ul li a:before,
.jura .popup .inner .close,
.jura footer .menu-toggle span,
.jura .tabs-style-linemove nav li:last-child::before,
.jura .owl-theme .owl-nav [class*=owl-],
.jura .green,
.jura #number-10 .container .bottons a.active,
.jura #number-10 .container .bottons a:hover,
.jura .topcontactinfo .boxcontact:before,
.jura .topcontactinfo .boxcontact .right a:before {background-color: #e30613 ! important;}
.jura .green.btn:before {background-color: #fff ! important;}
.jura .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.jura .colortext,
.jura .colortexthover:hover,
.jura .tabs-style-linemove nav li.tab-current a {color: #e30613 ! important;}
.jura .colorsvgf {fill: #fff ! important;}
.jura .colorsvg,
.jura nav .fil0,
.jura .tabs-style-linemove .fil0,
.jura .tabs-style-linemove .colorsvg,
.jura nav li ul .colorsvg,
.jura nav li ul .fil0, .bosch .svgcolor{fill: #e30613 ! important;}
.jura .colorborder,
.jura .colorborderhover:hover,
.jura .colorborderhover:focus,
.jura .topmenu > ul > li > ul li a,
.jura .title {border-color: #e30613 ! important;}
.jura .tabs-style-linemove nav li.tab-current a { transform:none;  -webkit-transform:none;}

.krups .colorbg,
.krups footer .body .right .content ul li a:before,
.krups .popup .inner .close,
.krups footer .menu-toggle span,
.krups .tabs-style-linemove nav li:last-child::before,
.krups .owl-theme .owl-nav [class*=owl-],
.krups .green,
.krups #number-10 .container .bottons a.active,
.krups #number-10 .container .bottons a:hover,
.krups .topcontactinfo .boxcontact:before,
.krups .topcontactinfo .boxcontact .right a:before {background-color: #525352 ! important;}
.krups .green.btn:before {background-color: #fff ! important;}
.krups .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.krups .colortext,
.krups .colortexthover:hover,
.krups .tabs-style-linemove nav li.tab-current a {color: #525352 ! important;}
.krups .colorsvgf {fill: #fff ! important;}
.krups .colorsvg,
.krups nav .fil0,
.krups .tabs-style-linemove .fil0,
.krups .tabs-style-linemove .colorsvg,
.krups nav li ul .colorsvg,
.krups nav li ul .fil0, .bosch .svgcolor{fill: #525352 ! important;}
.krups .colorborder,
.krups .colorborderhover:hover,
.krups .colorborderhover:focus,
.krups .topmenu > ul > li > ul li a,
.krups .title {border-color: #525352 ! important;}
.krups .tabs-style-linemove nav li.tab-current a { transform:translate3d(0,4px,0);  -webkit-transform:translate3d(0,4px,0);}

.melitta .colorbg,
.melitta footer .body .right .content ul li a:before,
.melitta .popup .inner .close,
.melitta footer .menu-toggle span,
.melitta .tabs-style-linemove nav li:last-child::before,
.melitta .owl-theme .owl-nav [class*=owl-],
.melitta .green,
.melitta #number-10 .container .bottons a.active,
.melitta #number-10 .container .bottons a:hover,
.melitta .topcontactinfo .boxcontact:before,
.melitta .topcontactinfo .boxcontact .right a:before {background-color: #d00c0e ! important;}
.melitta .green.btn:before {background-color: #fff ! important;}
.melitta .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.melitta .colortext,
.melitta .colortexthover:hover,
.melitta .tabs-style-linemove nav li.tab-current a {color: #d00c0e ! important;}
.melitta .colorsvgf {fill: #fff ! important;}
.melitta .colorsvg,
.melitta nav .fil0,
.melitta .tabs-style-linemove .fil0,
.melitta .tabs-style-linemove .colorsvg,
.melitta nav li ul .colorsvg,
.melitta nav li ul .fil0, .bosch .svgcolor{fill: #d00c0e ! important;}
.melitta .colorborder,
.melitta .colorborderhover:hover,
.melitta .colorborderhover:focus,
.melitta .topmenu > ul > li > ul li a,
.melitta .title {border-color: #d00c0e ! important;}
.melitta .tabs-style-linemove nav li.tab-current a { transform:none;  -webkit-transform:none;}

.nivona .colorbg,
.nivona footer .body .right .content ul li a:before,
.nivona .popup .inner .close,
.nivona footer .menu-toggle span,
.nivona .tabs-style-linemove nav li:last-child::before,
.nivona .owl-theme .owl-nav [class*=owl-],
.nivona .green,
.nivona #number-10 .container .bottons a.active,
.nivona #number-10 .container .bottons a:hover,
.nivona .topcontactinfo .boxcontact:before,
.nivona .topcontactinfo .boxcontact .right a:before {background-color: #af0917 ! important;}
.nivona .green.btn:before {background-color: #fff ! important;}
.nivona .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.nivona .colortext,
.nivona .colortexthover:hover,
.nivona .tabs-style-linemove nav li.tab-current a {color: #af0917 ! important;}
.nivona .colorsvgf {fill: #fff ! important;}
.nivona .colorsvg,
.nivona nav .fil0,
.nivona .tabs-style-linemove .fil0,
.nivona .tabs-style-linemove .colorsvg,
.nivona nav li ul .colorsvg,
.nivona nav li ul .fil0, .bosch .svgcolor{fill: #af0917 ! important;}
.nivona .colorborder,
.nivona .colorborderhover:hover,
.nivona .colorborderhover:focus,
.nivona .topmenu > ul > li > ul li a,
.nivona .title {border-color: #af0917 ! important;}
.nivona .tabs-style-linemove nav li.tab-current a { transform:none;  -webkit-transform:none;}

.gaggia .colorbg,
.gaggia footer .body .right .content ul li a:before,
.gaggia .popup .inner .close,
.gaggia footer .menu-toggle span,
.gaggia .tabs-style-linemove nav li:last-child::before,
.gaggia .owl-theme .owl-nav [class*=owl-],
.gaggia .green,
.gaggia #number-10 .container .bottons a.active,
.gaggia #number-10 .container .bottons a:hover,
.gaggia .topcontactinfo .boxcontact:before,
.gaggia .topcontactinfo .boxcontact .right a:before {background-color: #ef4023 ! important;}
.gaggia .green.btn:before {background-color: #fff ! important;}
.gaggia .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.gaggia .colortext,
.gaggia .colortexthover:hover,
.gaggia .tabs-style-linemove nav li.tab-current a {color: #ef4023 ! important;}
.gaggia .colorsvgf {fill: #fff ! important;}
.gaggia .colorsvg,
.gaggia nav .fil0,
.gaggia .tabs-style-linemove .fil0,
.gaggia .tabs-style-linemove .colorsvg,
.gaggia nav li ul .colorsvg,
.gaggia nav li ul .fil0, .bosch .svgcolor{fill: #ef4023 ! important;}
.gaggia .colorborder,
.gaggia .colorborderhover:hover,
.gaggia .colorborderhover:focus,
.gaggia .topmenu > ul > li > ul li a,
.gaggia .title {border-color: #ef4023 ! important;}
.gaggia .tabs-style-linemove nav li.tab-current a { transform:none;  -webkit-transform:none;}

.wmf .colorbg,
.wmf footer .body .right .content ul li a:before,
.wmf .popup .inner .close,
.wmf footer .menu-toggle span,
.wmf .tabs-style-linemove nav li:last-child::before,
.wmf .owl-theme .owl-nav [class*=owl-],
.wmf .green,
.wmf #number-10 .container .bottons a.active,
.wmf #number-10 .container .bottons a:hover,
.wmf .topcontactinfo .boxcontact:before,
.wmf .topcontactinfo .boxcontact .right a:before {background-color: #71b430 ! important;}
.wmf .green.btn:before {background-color: #fff ! important;}
.wmf .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.wmf .colortext,
.wmf .colortexthover:hover,
.wmf .tabs-style-linemove nav li.tab-current a {color: #71b430 ! important;}
.wmf .colorsvgf {fill: #fff ! important;}
.wmf .colorsvg,
.wmf nav .fil0,
.wmf .tabs-style-linemove .fil0,
.wmf .tabs-style-linemove .colorsvg,
.wmf nav li ul .colorsvg,
.wmf nav li ul .fil0, .bosch .svgcolor{fill: #71b430 ! important;}
.wmf .colorborder,
.wmf .colorborderhover:hover,
.wmf .colorborderhover:focus,
.wmf .topmenu > ul > li > ul li a,
.wmf .title {border-color: #71b430 ! important;}
.wmf .tabs-style-linemove nav li.tab-current a { transform:none;  -webkit-transform:none;}

.la-cimbali .colorbg,
.la-cimbali footer .body .right .content ul li a:before,
.la-cimbali .popup .inner .close,
.la-cimbali footer .menu-toggle span,
.la-cimbali .tabs-style-linemove nav li:last-child::before,
.la-cimbali .owl-theme .owl-nav [class*=owl-],
.la-cimbali .green,
.la-cimbali #number-10 .container .bottons a.active,
.la-cimbali #number-10 .container .bottons a:hover,
.la-cimbali .topcontactinfo .boxcontact:before,
.la-cimbali .topcontactinfo .boxcontact .right a:before {background-color: #e2271c ! important;}
.la-cimbali .green.btn:before {background-color: #fff ! important;}
.la-cimbali .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.la-cimbali .colortext,
.la-cimbali .colortexthover:hover,
.la-cimbali .tabs-style-linemove nav li.tab-current a {color: #e2271c ! important;}
.la-cimbali .colorsvgf {fill: #fff ! important;}
.la-cimbali .colorsvg,
.la-cimbali nav .fil0,
.la-cimbali .tabs-style-linemove .fil0,
.la-cimbali .tabs-style-linemove .colorsvg,
.la-cimbali nav li ul .colorsvg,
.la-cimbali nav li ul .fil0, .bosch .svgcolor{fill: #e2271c ! important;}
.la-cimbali .colorborder,
.la-cimbali .colorborderhover:hover,
.la-cimbali .colorborderhover:focus,
.la-cimbali .topmenu > ul > li > ul li a,
.la-cimbali .title {border-color: #e2271c ! important;}
.la-cimbali .tabs-style-linemove nav li.tab-current a { transform:none;  -webkit-transform:none;}

.schaerer .colorbg,
.schaerer footer .body .right .content ul li a:before,
.schaerer .popup .inner .close,
.schaerer footer .menu-toggle span,
.schaerer .tabs-style-linemove nav li:last-child::before,
.schaerer .owl-theme .owl-nav [class*=owl-],
.schaerer .green,
.schaerer #number-10 .container .bottons a.active,
.schaerer #number-10 .container .bottons a:hover,
.schaerer .topcontactinfo .boxcontact:before,
.schaerer .topcontactinfo .boxcontact .right a:before {background-color: #e2271c ! important;}
.schaerer .green.btn:before {background-color: #fff ! important;}
.schaerer .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.schaerer .colortext,
.schaerer .colortexthover:hover,
.schaerer .tabs-style-linemove nav li.tab-current a {color: #e2271c ! important;}
.schaerer .colorsvgf {fill: #fff ! important;}
.schaerer .colorsvg,
.schaerer nav .fil0,
.schaerer .tabs-style-linemove .fil0,
.schaerer .tabs-style-linemove .colorsvg,
.schaerer nav li ul .colorsvg,
.schaerer nav li ul .fil0, .bosch .svgcolor{fill: #e2271c ! important;}
.schaerer .colorborder,
.schaerer .colorborderhover:hover,
.schaerer .colorborderhover:focus,
.schaerer .topmenu > ul > li > ul li a,
.schaerer .title {border-color: #e2271c ! important;}
.schaerer .tabs-style-linemove nav li.tab-current a { transform:none;  -webkit-transform:none;}

.franke .colorbg,
.franke footer .body .right .content ul li a:before,
.franke .popup .inner .close,
.franke footer .menu-toggle span,
.franke .tabs-style-linemove nav li:last-child::before,
.franke .owl-theme .owl-nav [class*=owl-],
.franke .green,
.franke #number-10 .container .bottons a.active,
.franke #number-10 .container .bottons a:hover,
.franke .topcontactinfo .boxcontact:before,
.franke .topcontactinfo .boxcontact .right a:before {background-color: #e2271c ! important;}
.franke .green.btn:before {background-color: #fff ! important;}
.franke .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.franke .colortext,
.franke .colortexthover:hover,
.franke .tabs-style-linemove nav li.tab-current a {color: #e2271c ! important;}
.franke .colorsvgf {fill: #fff ! important;}
.franke .colorsvg,
.franke nav .fil0,
.franke .tabs-style-linemove .fil0,
.franke .tabs-style-linemove .colorsvg,
.franke nav li ul .colorsvg,
.franke nav li ul .fil0, .bosch .svgcolor{fill: #e2271c ! important;}
.franke .colorborder,
.franke .colorborderhover:hover,
.franke .colorborderhover:focus,
.franke .topmenu > ul > li > ul li a,
.franke .title {border-color: #e2271c ! important;}
.franke .tabs-style-linemove nav li.tab-current a { transform:translate3d(0,4px,0);  -webkit-transform:translate3d(0,4px,0);}

.faema .colorbg,
.faema footer .body .right .content ul li a:before,
.faema .popup .inner .close,
.faema footer .menu-toggle span,
.faema .tabs-style-linemove nav li:last-child::before,
.faema .owl-theme .owl-nav [class*=owl-],
.faema .green,
.faema #number-10 .container .bottons a.active,
.faema #number-10 .container .bottons a:hover,
.faema .topcontactinfo .boxcontact:before,
.faema .topcontactinfo .boxcontact .right a:before {background-color: #870c28 ! important;}
.faema .green.btn:before {background-color: #fff ! important;}
.faema .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.faema .colortext,
.faema .colortexthover:hover,
.faema .tabs-style-linemove nav li.tab-current a {color: #870c28 ! important;}
.faema .colorsvgf {fill: #fff ! important;}
.faema .colorsvg,
.faema nav .fil0,
.faema .tabs-style-linemove .fil0,
.faema .tabs-style-linemove .colorsvg,
.faema nav li ul .colorsvg,
.faema nav li ul .fil0, .bosch .svgcolor{fill: #870c28 ! important;}
.faema .colorborder,
.faema .colorborderhover:hover,
.faema .colorborderhover:focus,
.faema .topmenu > ul > li > ul li a,
.faema .title {border-color: #870c28 ! important;}
.faema .tabs-style-linemove nav li.tab-current a { transform:none;  -webkit-transform:none;}

.miele .colorbg,
.miele footer .body .right .content ul li a:before,
.miele .popup .inner .close,
.miele footer .menu-toggle span,
.miele .tabs-style-linemove nav li:last-child::before,
.miele .owl-theme .owl-nav [class*=owl-],
.miele .green,
.miele #number-10 .container .bottons a.active,
.miele #number-10 .container .bottons a:hover,
.miele .topcontactinfo .boxcontact:before,
.miele .topcontactinfo .boxcontact .right a:before {background-color: #a20001 ! important;}
.miele .green.btn:before {background-color: #fff ! important;}
.miele .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.miele .colortext,
.miele .colortexthover:hover,
.miele .tabs-style-linemove nav li.tab-current a {color: #a20001 ! important;}
.miele .colorsvgf {fill: #fff ! important;}
.miele .colorsvg,
.miele nav .fil0,
.miele .tabs-style-linemove .fil0,
.miele .tabs-style-linemove .colorsvg,
.miele nav li ul .colorsvg,
.miele nav li ul .fil0, .bosch .svgcolor{fill: #a20001 ! important;}
.miele .colorborder,
.miele .colorborderhover:hover,
.miele .colorborderhover:focus,
.miele .topmenu > ul > li > ul li a,
.miele .title {border-color: #a20001 ! important;}
.miele .tabs-style-linemove nav li.tab-current a { transform:translate3d(0,4px,0);  -webkit-transform:translate3d(0,4px,0);}

.rancilio .colorbg,
.rancilio footer .body .right .content ul li a:before,
.rancilio .popup .inner .close,
.rancilio footer .menu-toggle span,
.rancilio .tabs-style-linemove nav li:last-child::before,
.rancilio .owl-theme .owl-nav [class*=owl-],
.rancilio .green,
.rancilio #number-10 .container .bottons a.active,
.rancilio #number-10 .container .bottons a:hover,
.rancilio .topcontactinfo .boxcontact:before,
.rancilio .topcontactinfo .boxcontact .right a:before {background-color: #007845 ! important;}
.rancilio .green.btn:before {background-color: #fff ! important;}
.rancilio .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.rancilio .colortext,
.rancilio .colortexthover:hover,
.rancilio .tabs-style-linemove nav li.tab-current a {color: #007845 ! important;}
.rancilio .colorsvgf {fill: #fff ! important;}
.rancilio .colorsvg,
.rancilio nav .fil0,
.rancilio .tabs-style-linemove .fil0,
.rancilio .tabs-style-linemove .colorsvg,
.rancilio nav li ul .colorsvg,
.rancilio nav li ul .fil0, .bosch .svgcolor{fill: #007845 ! important;}
.rancilio .colorborder,
.rancilio .colorborderhover:hover,
.rancilio .colorborderhover:focus,
.rancilio .topmenu > ul > li > ul li a,
.rancilio .title {border-color: #007845 ! important;}
.rancilio .tabs-style-linemove nav li.tab-current a { transform:none;  -webkit-transform:none;}

.nuova-simonelli .colorbg,
.nuova-simonelli footer .body .right .content ul li a:before,
.nuova-simonelli .popup .inner .close,
.nuova-simonelli footer .menu-toggle span,
.nuova-simonelli .tabs-style-linemove nav li:last-child::before,
.nuova-simonelli .owl-theme .owl-nav [class*=owl-],
.nuova-simonelli .green,
.nuova-simonelli #number-10 .container .bottons a.active,
.nuova-simonelli #number-10 .container .bottons a:hover,
.nuova-simonelli .topcontactinfo .boxcontact:before,
.nuova-simonelli .topcontactinfo .boxcontact .right a:before {background-color: #d82f3e ! important;}
.nuova-simonelli .green.btn:before {background-color: #fff ! important;}
.nuova-simonelli .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.nuova-simonelli .colortext,
.nuova-simonelli .colortexthover:hover,
.nuova-simonelli .tabs-style-linemove nav li.tab-current a {color: #d82f3e ! important;}
.nuova-simonelli .colorsvgf {fill: #fff ! important;}
.nuova-simonelli .colorsvg,
.nuova-simonelli nav .fil0,
.nuova-simonelli .tabs-style-linemove .fil0,
.nuova-simonelli .tabs-style-linemove .colorsvg,
.nuova-simonelli nav li ul .colorsvg,
.nuova-simonelli nav li ul .fil0, .bosch .svgcolor{fill: #d82f3e ! important;}
.nuova-simonelli .colorborder,
.nuova-simonelli .colorborderhover:hover,
.nuova-simonelli .colorborderhover:focus,
.nuova-simonelli .topmenu > ul > li > ul li a,
.nuova-simonelli .title {border-color: #d82f3e ! important;}
.nuova-simonelli .tabs-style-linemove nav li.tab-current a { transform:none;  -webkit-transform:none;}

.bork .colorbg,
.bork footer .body .right .content ul li a:before,
.bork .popup .inner .close,
.bork footer .menu-toggle span,
.bork .tabs-style-linemove nav li:last-child::before,
.bork .owl-theme .owl-nav [class*=owl-],
.bork .green,
.bork #number-10 .container .bottons a.active,
.bork #number-10 .container .bottons a:hover,
.bork .topcontactinfo .boxcontact:before,
.bork .topcontactinfo .boxcontact .right a:before {background-color: #d82f3e ! important;}
.bork .green.btn:before {background-color: #fff ! important;}
.bork .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.bork .colortext,
.bork .colortexthover:hover,
.bork .tabs-style-linemove nav li.tab-current a {color: #d82f3e ! important;}
.bork .colorsvgf {fill: #fff ! important;}
.bork .colorsvg,
.bork nav .fil0,
.bork .tabs-style-linemove .fil0,
.bork .tabs-style-linemove .colorsvg,
.bork nav li ul .colorsvg,
.bork nav li ul .fil0, .bosch .svgcolor{fill: #d82f3e ! important;}
.bork .colorborder,
.bork .colorborderhover:hover,
.bork .colorborderhover:focus,
.bork .topmenu > ul > li > ul li a,
.bork .title {border-color: #d82f3e ! important;}
.bork .tabs-style-linemove nav li.tab-current a { transform:translate3d(0,4px,0);  -webkit-transform:translate3d(0,4px,0);}

.promac .colorbg,
.promac footer .body .right .content ul li a:before,
.promac .popup .inner .close,
.promac footer .menu-toggle span,
.promac .tabs-style-linemove nav li:last-child::before,
.promac .owl-theme .owl-nav [class*=owl-],
.promac .green,
.promac #number-10 .container .bottons a.active,
.promac #number-10 .container .bottons a:hover,
.promac .topcontactinfo .boxcontact:before,
.promac .topcontactinfo .boxcontact .right a:before {background-color: #a1190d ! important;}
.promac .green.btn:before {background-color: #fff ! important;}
.promac .colorbghover:hover {opacity: 0.9;-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);}
.promac .colortext,
.promac .colortexthover:hover,
.promac .tabs-style-linemove nav li.tab-current a {color: #a1190d ! important;}
.promac .colorsvgf {fill: #fff ! important;}
.promac .colorsvg,
.promac nav .fil0,
.promac .tabs-style-linemove .fil0,
.promac .tabs-style-linemove .colorsvg,
.promac nav li ul .colorsvg,
.promac nav li ul .fil0, .bosch .svgcolor{fill: #a1190d ! important;}
.promac .colorborder,
.promac .colorborderhover:hover,
.promac .colorborderhover:focus,
.promac .topmenu > ul > li > ul li a,
.promac .title {border-color: #a1190d ! important;}
.promac .tabs-style-linemove nav li.tab-current a { transform:none;  -webkit-transform:none;}


.saeco .yeshsho {
    display: none ! important;
}
@media screen and (max-width: 680px) {
    .saeco .yeshsho {
        display: inline-block ! important;
    }
}
.jura .yeshsho {
    display: none ! important;
}
@media screen and (max-width: 680px) {
    .jura nav .container > ul > li:nth-child(1) {
        display: inline-block;
    }
}
.melitta .yeshsho {
    display: none ! important;
}
@media screen and (max-width: 830px) {
    .melitta .yeshsho {
        display: inline-block ! important;
    }
}
.nivona .yeshsho {
    display: none ! important;
}
@media screen and (max-width: 680px) {
    .nivona nav .container > ul > li:nth-child(1) {
        display: inline-block;
    }
}
.gaggia .yeshsho {
    display: none ! important;
}
@media screen and (max-width: 1030px) {
    .gaggia .yeshsho {
        display: inline-block ! important;
    }
}
.wmf .yeshsho {
    display: none ! important;
}
@media screen and (max-width: 830px) {
    .wmf .yeshsho {
        display: inline-block ! important;
    }
}
.la-cimbali .yeshsho {
    display: none ! important;
}
@media screen and (max-width: 680px) {
    .la-cimbali nav .container > ul > li:nth-child(1) {
        display: inline-block;
    }
}
.schaerer .yeshsho {
    display: none ! important;
}
@media screen and (max-width: 680px) {
    .schaerer nav .container > ul > li:nth-child(1) {
        display: inline-block;
    }
}
.faema .yeshsho {
    display: none ! important;
}
@media screen and (max-width: 680px) {
    .faema nav .container > ul > li:nth-child(1) {
        display: inline-block;
    }
}
.rancilio .yeshsho {
    display: none ! important;
}
@media screen and (max-width: 680px) {
    .rancilio nav .container > ul > li:nth-child(1) {
        display: inline-block;
    }
}
.nuova-simonelli .yeshsho {
    display: none ! important;
}
@media screen and (max-width: 680px) {
    .nuova-simonelli nav .container > ul > li:nth-child(1) {
        display: inline-block;
    }
}
.promac .yeshsho {
    display: none ! important;
}
@media screen and (max-width: 680px) {
    .promac nav .container > ul > li:nth-child(1) {
        display: inline-block;
    }
}