.row_top_menu,
.navbar-default {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#041a3f+0,051838+77,02122b+100 */
background: rgb(4,26,63); /* Old browsers */
background: -moz-linear-gradient(top, rgba(4,26,63,1) 0%, rgba(5,24,56,1) 77%, rgba(2,18,43,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(4,26,63,1) 0%,rgba(5,24,56,1) 77%,rgba(2,18,43,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(4,26,63,1) 0%,rgba(5,24,56,1) 77%,rgba(2,18,43,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041a3f', endColorstr='#02122b',GradientType=0 ); /* IE6-9 */
}
section.header ul.top_menu_big li a,
.top_menu_right_info {
	color: #fff;
}
section.header .row.row_top_menu:after {
	width: 100%;
    height: 3px;
    background-image: url(../img/j/border.png);
    display: block;
    position: absolute;
    bottom: 0px;
    content: '';
}
.top_menu_right_info {
	background-image: url(../img/j/checkin-header.svg);
}
section.header ul.top_menu_big li a:hover, section.header ul.top_menu_small li a:hover {
    color: #fff;
    text-decoration: underline;
}
.navbar-second {
background-color: #d5ad6f;
}
.navbar-second .order-now {
	background-color: #c3944c;
}
.navbar-second .order-now:hover {
	background-color: #bd9046;
}
body section.slider {
	position: relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002660+0,041833+100 */
background: rgb(0,38,96); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(0,38,96,1) 0%, rgba(4,24,51,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,38,96,1) 0%,rgba(4,24,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(0,38,96,1) 0%,rgba(4,24,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002660', endColorstr='#041833',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
body section.slider:after {
	background-image: url(../img/j/border.png);
	content: '';
}
body section.slider:before {
	background-image: url(../img/j/border.png);
	content: '';
}
.carousel-caption h1 {
	color: #e0b978;
}
.nav li a:hover, .nav>li>a:focus {
	color: #fff;
	text-decoration: underline;
}
.bs-docs-footer,
.section_form_order_n .form-order,
.form-order-cont {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002660+0,041833+100 */
background: rgb(0,38,96); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(0,38,96,1) 0%, rgba(4,24,51,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,38,96,1) 0%,rgba(4,24,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(0,38,96,1) 0%,rgba(4,24,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002660', endColorstr='#041833',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#top-bar:after ,
.my-footer-block:after {
	    width: 100%;
    height: 3px;
    background-image: url(../img/j/border.png);
    display: block;
    position: absolute;
    bottom: 0px;
    content: '';
    z-index: 0;
}
.my-footer-block {
    position: relative;
}
.big_line {
	background-image: url(../img/j/border.png);
}
.remodal-cancel, input.call-master, input.call-master:focus {
	background-color: #c3944c;
	border-color: #c3944c;
	color: #fff ! important;
}
.my-input, .tb_sidebar_form input, .tb_sidebar_form textarea,
#form-modal input, textarea {
	border-color: #d5ad6f;
}
.form-order-cont form input {
	color: #fff;
}
.form-order-cont form .form-group  input {
	color: #000;
}
section.order {
    position: relative;
    z-index: 2;
}
section.who {
	    border-left: 3px solid #031835;
	        border-right: 3px solid #031835;
	        border-radius: 3px;
}
.bs-docs-footer h5 {
	color: #ead39f;
}
.bs-docs-footer a,
.bs-docs-footer {
	color: #7d98cd;
	border-color: #7d98cd;
}
.bs-docs-footer a:hover {
	color: #ead39f;
	border-color: #ead39f;
}
hr {
	border: 0px;
	height: 3px;
	width: 100%;
	display: block;
	background-image: url(../img/j/border.png);
}
div.footer-phone a.phone-c {
	color: #ead39f;
}
.tb_sidebar_form input[type=button] {
	    background: #d5ad6f;
	        font-family: "Proxima Nova Regular", Arial, sans-serif ! important;
}
.break_price .col_price {
	    background-color: #d5ad6f!important;
}
section.who .break_price div.row:hover .col_price, section.who .break_price div.row:hover .name_price {
    background-color: #d5ad6f;
    color: #fff ! important;
}
.panel-body .bg_line {
	background-color: #c3944c;
}
.navbar-top-form span {
	color: #fff ! important
}
span.phone_big_top a.phone-c {
	color: #fff
}
#top-bar .navbar-top-form .btn-small {
	background-color: #d5ad6f
}
.btn-default {
	    background-color: #c3944c;
    border-color: #c3944c;
}
.caller #caller_phone {
	border-color: #d5ad6f;
}
.caller #caller_button:hover {
	    background: #d5ad6f;
}
section.who:before {
	background-image: url(../img/j/border.png);
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.btn-default:hover {
    background-color: #d5ad6f;
}
.goroda div a:before {
        content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../img/j/mapstar.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 5px;
}

input.call-master:focus, input.call-master:hover {
    background: #d5ad6f;
}
a.more {
	    background: #c3944c;
}
a.more:hover {
	    background: #d5ad6f;
}
#caller_widget #caller_widget_fade,
#caller_widget #caller_widget_button {
	    background: #c3944c;
}
.form-control {
	border: 1px solid #c3944c;
}
.phone .header-phone-code-part {
	color: #c21415;
}
#nav-icon3 span {
	background: #fff;
}

@media (max-width: 480px) {
	section.header ul.top_menu_big li a {
		color: #333;
	}
	section.header ul.top_menu_big li a:hover {
		color: #c21415;
	}
}

.navbar .navbar-logo {
	margin-top: 0px;
}
.navbar .navbar-logo a {
	display: block;
	height: 47px;
	line-height: 47px;
}
.navbar .navbar-logo img {
    height: 65%;
}
#callbacktopform-phone {
	border-color: #c3944c;
}
.search-brends .left,
.btn {
	background: #c3944c;
}
.btn-default:hover {
	border-color: #c3944c;
}
section.who .break_price div.row:hover .col_price {
    background-color: #c3944c!important;
}
li.menu__item:hover {
    text-decoration: none;
    border: 1px solid #c3944c;
    z-index: 9;
}
.goroda div.map,
.rasmga-ramka #big-header-image {
	    border: 1px dashed #041a39;
}
.offer section.section_promo_form div.tb_sidebar_cont span.tb_sidebar_title {
	background: #c21415;
}
.offer .tb_sidebar_extra_text b {
	color: #c21415;
}

.v-region:after {
    content: ' в Санкт-Петербурге'
}
.gl-text-after:after {
    content: ' в Санкт-Петербурге Быстро! Доступно! Качественно!'
}

body section.offer h1 {
	font-size: 40px;
}
@media (max-width: 1250px) {
	body section.offer h1 {
		font-size: 30px;
	}
}