body,
input,
select,
textarea {
    font-family: "Exo 2", sans-serif;
    font-size: 14px;
    color: #27282b;
    background: #FFF
}
a {
    text-decoration: none;
    color: #2e375f;
}
a:hover {
    color: #222;
}
.nowrpap {
    white-space: nowrap;
}
.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.viewport {
    width: 95%;
    max-width: 1240px;
    min-width: 480px;
    margin: 0 auto;
}
.order-status {
    font-size: 16px;
    border: solid 1px #1b72ac;
    padding: 5px;
    border-radius: 4px;
    margin-right: 12px;
}
.button {
    zoom: 1;
    margin-top: 20px;
}
.button:before,
.button:after {
    content: '';
    display: table;
}
.button:after {
    clear: both;
}
.button a,
.button input {
    display: block;
    float: left;
    font-size: 14px;
    color: #fff;
    background-color: #1b72ac;
    background-image: linear-gradient(to bottom, #48bdf3, #1b72ac);
    border-radius: 2px;
    border: none;
    padding: 12px 24px 15px 24px;
}
.button a:before,
.button input:before {
    font-family: FontAwesome;
    content: '\f061';
    margin-right: 8px;
    position: relative;
}
.button a:hover:before,
.button input:hover:before {
    left: -3px;
}
.bl-hero {
    position: relative;
    padding: 3% 0 3% 0;
    color: #fff;
    background-color: #6c6e74;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.bl-hero .text {
    zoom: 1;
    position: relative;
    width: 320px;
}
.bl-hero .text:before,
.bl-hero .text:after {
    content: '';
    display: table;
}
.bl-hero .text:after {
    clear: both;
}
.bl-hero .text .heading {
    font-size: 36px;
    line-height: 40px;
}
.bl-hero .text .description {
    margin-top: 30px;
    font-size: 20px;
    line-height: 28px;
}
.bl-heading {
    padding: 3.6% 0 3.6% 0;
    color: #fff;
    background-color: #6c6e74;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.bl-heading .heading {
    font-size: 36px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
}
@media (max-width: 680px) {
    .bl-heading .heading {
        font-size: 18px;
    }
}
.bl-brands {
    padding-bottom: 60px;
}
.bl-brands .heading {
    font-size: 28px;
    margin-top: 60px;
}
.bl-brands ul {
    zoom: 1;
    width: 100%;
    margin: 10px -1.5% 0 -1.5%;
}
.bl-brands ul:before,
.bl-brands ul:after {
    content: '';
    display: table;
}
.bl-brands ul:after {
    clear: both;
}
.bl-brands ul li {
    float: left;
    width: 11%;
    margin: 40px 1.4% 0 1.4%;
}
.bl-brands ul li .logotype {
    text-align: center;
}
.bl-brands ul li .logotype img {
    width: 100%;
}
.bl-brands ul li .name {
    font-size: 18px;
}
.bl-brands ul li .description {
    margin-top: 6px;
    line-height: 22px;
    height: 70px;
    overflow: hidden;
    color: #8e8a8a;
    display: none;
}
.bl-brands ul li .more {
    margin-top: 2px;
    line-height: 22px;
    font-size: 16px;
    display: none;
}
.bl-features .heading {
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: -40px;
}
.bl-features ul {
    zoom: 1;
    width: 103%;
    margin: 30px -1.5% 0 -1.5%;
}
.bl-features ul:before,
.bl-features ul:after {
    content: '';
    display: table;
}
.bl-features ul:after {
    clear: both;
}
.bl-features ul li {
    float: left;
    width: 30.33%;
    margin: 0 1.5%;
}
.bl-features ul li a {
    zoom: 1;
    display: table;
    width: 100%;
    color: #fff;
    background-color: #30343f;
    background-position: 5% 50%;
    background-repeat: no-repeat;
    border-radius: 12px;
    padding: 5% 0;
}
.bl-features ul li a:before,
.bl-features ul li a:after {
    content: '';
    display: table;
}
.bl-features ul li a:after {
    clear: both;
}
.bl-features ul li a .name {
    display: table-cell;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
    padding: 0 5% 0 30%;
}
.bl-features ul li a.parts {
    background-color: #08ad8d;
    background-image: url(../images/feature-parts-icon.png);
}
.bl-features ul li a.time {
    background-color: #5787f5;
    background-image: url(../images/feature-time-icon.png);
}
.bl-features ul li a.scheme {
    background-color: #222;
    background-image: url(../images/feature-scheme-icon.png);
}
@media screen and (max-width: 1000px) {
    .bl-features ul li a {
        background-position: -9999px 50% !important;
    }
    .bl-features ul li a .name {
        font-size: 16px;
        line-height: 22px;
        padding-left: 15px;
    }
}
@media screen and (max-width: 850px) {
    .bl-features ul li a {
        background-position: -9999px 50% !important;
    }
    .bl-features ul li a .name {
        font-size: 16px;
        line-height: 22px;
        padding-left: 15px;
    }
}
.bl-faults {
    margin-top: 40px;
    width: 100%;
    position: relative;
}
@media screen and (max-width: 730px) {
    .bl-faults {
        margin-top: 20px;
    }
}
.bl-faults .tabs {
    margin-bottom: -1px;
    font-size: 18px;
}
.bl-faults .tabs ul {
    zoom: 1;
    border-left: 1px solid #d2d2d2;
}
.bl-faults .tabs ul:before,
.bl-faults .tabs ul:after {
    content: '';
    display: table;
}
.bl-faults .tabs ul:after {
    clear: both;
}
.bl-faults .tabs ul li {
    float: left;
}
.bl-faults .tabs ul li .name a {
    border: 1px solid #d2d2d2;
    border-top: 4px solid #8e8a8a;
    border-left: none;
    display: block;
    padding: 12px 15px 15px 15px;
    color: #27282b;
}
.bl-faults .tabs ul li .name a:hover {
    color: #222;
}
.bl-faults .tabs ul li .name a.active,
.bl-faults .tabs ul li .name a:hover {
    border-bottom: 1px solid #fff;
    border-top-color: #222;
    color: #222;
}
.bl-faults .list ul {
    zoom: 1;
    border-top: 1px solid #d2d2d2;
}
.bl-faults .list ul:before,
.bl-faults .list ul:after {
    content: '';
    display: table;
}
.bl-faults .list ul:after {
    clear: both;
}
.bl-faults .list ul li {
    float: left;
    width: 33.3%;
    border-bottom: dotted 1px #ccc; 
    padding: 10px 10px 25px 10px; 
    margin: 10px 0 10px 0;
}
#my-modelas ul li {
    width: 200px;
    padding-bottom: 0px;
    border-bottom: 0px;
    padding-bottom: 0px;
}
@media screen and (max-width: 730px) {
    #my-modelas ul li {
        width: 165px;
    }
}
.bl-faults .list ul li .name {
    color: #2e375f;
    font-size: 14px;
    text-align: center;
}
.bl-faults .list ul li .description {
    font-size: 12px;
    color: #8e8a8a;
    margin-top: 5px;
}
.bl-faults .list ul li .img {
    width: 100%;
    text-align: center;
    height: 180px;
    display: block;
    vertical-align: middle;
    line-height: 180px;
}
.bl-faults .list ul li .img img {
    max-width: 90%;
    max-height: 90%;
    vertical-align: middle;
}
@media screen and (max-width: 1000px) {
    .bl-faults {
        width: 100%;
    }
}
@media screen and (max-width: 650px) {
    .bl-faults .list ul li {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
}
.bl-services .heading {
    font-size: 28px;
    margin-top: 25px;
}
.bl-services .subheading {
    font-size: 22px;
    margin-top: 30px;
}
.bl-services .list {
    margin-top: 15px;
}
.bl-services .list ul {
    margin-top: 20px;
}
.bl-services .list ul li {
    border-bottom: 1px solid #d2d2d2;
    padding: 15px 15px 15px 0px;
    display: table;
    width: 100%;
}
.bl-services .list ul li .image {
    display: table-cell;
    width: 30%;
    max-width: 245px;
    height: 110px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
}

.bl-services .list ul li .image img {
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: bottom;
    width: 100%;
}
.bl-services .list ul li .text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}
.bl-services .list ul li .text .name {
    font-size: 16px;
    color: #2e375f;
}
.bl-services .list ul li .text .description {
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
}
.bl-services .list ul li .price {
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.bl-services .list ul li .price .value {
    color: #222;
    font-size: 24px;
}
.bl-services .list ul li .price .value:after {
    content: '\f158';
    font-family: FontAwesome;
    font-size: 16px;
    margin-left: 5px;
}
.bl-services .list ul li .price .notice {
    font-size: 12px;
    line-height: 15px;
    color: #8e8a8a;
    margin-top: 5px;
}
.bl-services .list ul li .price .button {
    margin-top: 12px;
}
.bl-services .list ul li .price .button a {
    padding: 5px 14px 6px 14px;
    background-color: transparent;
}
.bl-services .list ul li .price .button a:hover {
    color: #fff;
}
@media screen and (max-width: 700px) {
    .bl-services .list ul li {
        display: block;
    }
    .bl-services .list ul li .image {
        display: none ! important;
    }
    .bl-services .list ul li .text {
        width: 100%;
        padding: 0px;
        display: inline-block;
        margin-bottom: 15px;
    }
    .bl-services .list ul li .price {
        display: table;
        width: 100%;
    }
    .bl-services .list ul li .price .notice {
        display: none;
    }
    .bl-services .list ul li .price .value {
        float: right;
    }
    .bl-services .list ul li .price .button {
        margin-top: 0px;
    }
    .button {
        margin: 0 auto;
    }
}
@media screen and (max-width: 1000px) {
    .bl-services {
        width: 100%;
    }
}
.bl-promo {
    width: 65.6%;
}
.bl-promo .heading {
    font-size: 28px;
    margin-top: 25px;
}
.bl-promo .heading-1 {
    font-size: 20px;
    margin-top: 20px;
}
.bl-promo .list {
    margin-top: 15px;
}
.bl-promo .list ul {
    border-top: 1px solid #d2d2d2;
}
.bl-promo .list ul li {
    border-bottom: 1px solid #d2d2d2;
    padding: 30px 0;
    display: table;
    width: 100%;
}
.bl-promo .list ul li .image {
    display: table-cell;
    width: 30%;
    max-width: 245px;
    height: 164px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
}
.bl-promo .list ul li .image img {
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: bottom;
    max-width: 100%;
}
.bl-promo .list ul li .text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}
.bl-promo .list ul li .text .name {
    font-size: 18px;
}
.bl-promo .list ul li .text .description {
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
}
.bl-promo .list-item {
    margin-top: 20px;
    margin-left: 20px;
}
.bl-promo .list-item li:before {
    content: '\25AA';
    color: #222;
    font-size: 20px;
    margin-right: 5px;
    line-height: 20px;
}
.bl-promo .list-item li {
    line-height: 20px;
}
.bl-promo img[align=right] {
    margin: 30px 0 40px 45px;
}
.bl-promo .text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
}
@media screen and (max-width: 1000px) {
    .bl-promo {
        width: 100%;
    }
}
.bl-text .heading,
.bl-text h2 {
    font-size: 28px;
    margin-top: 25px;
}

.bl-text .subheading,
.bl-text h3 {
    font-size: 22px;
    margin-top: 30px;
}
.bl-text h4 {
    font-size: 18px;
    margin-top: 30px;
}
.bl-text .hero {
    margin-top: 25px;
    border-radius: 2px;
    overflow: hidden;
}
.bl-text .hero img {
    width: 100%;
}
.bl-text .text,
.bl-text p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
}
.bl-text .text,
.bl-text p,
.bl-text li {
    margin-top: 15px;
    font-size: 15px;
    line-height: 20px;
}
.bl-text .pricelist {
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
}
.bl-text .pricelist tr:nth-child(2n) {
    background-color: #eee;
}
.bl-text .pricelist tr {
    padding: 0px 15px;
    background-color: #fdfdfd;
    display: flex;
}
.bl-text .pricelist.hide-rows tr {
    display: none;
}
.bl-text .pricelist.hide-rows tr:nth-child(-n+16) {
    display: flex;
}
.bl-text .pricelist.hide-rows.active tr {
    display: flex;
}
.bl-text .pricelist td {
    padding: 10px 0 12px 0;
    vertical-align: middle;
}
.bl-text .pricelist .name {} .bl-text .pricelist .price {
    white-space: nowrap;
    color: #2e375f;
    text-align: right;
}
.bl-text .pricelist .price:after {
    content: ' Р ';
}
@media screen and (max-width: 1000px) {
    .bl-text {
        width: 100%;
    }
}
.bl-text .subheading h2 {
    margin-bottom: -15px;
}
.bl-text .subheading h3 {
    margin-bottom: -15px;
}
.bl-text .expand {
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
}
.bl-text .toggle {
    display: none;
}
.bl-text ul {
    margin: 20px;
}
.bl-text ul li {
    margin: 5px 0;
}
.bl-rules {
    width: 65.6%;
}
.bl-rules .heading {
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: -45px;
}
.bl-rules .subheading {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: -35px;
}
.bl-rules .list {
    margin-top: 60px;
}
.bl-rules .list ul {
    counter-reset: item-counter;
    border-top: 1px solid #d2d2d2;
}
.bl-rules .list ul li {
    border-bottom: 1px solid #d2d2d2;
    padding: 30px 0 30px 140px;
    position: relative;
}
.bl-rules .list ul li .name {
    font-size: 16px;
}
.bl-rules .list ul li .description {
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
}
.bl-rules .list ul li:before {
    content: counter(item-counter, decimal-leading-zero);
    counter-increment: item-counter;
    position: absolute;
    top: 22px;
    left: 0;
    width: 140px;
    text-align: center;
    font-size: 80px;
    color: #d2d2d2;
}
@media screen and (max-width: 1000px) {
    .bl-rules {
        width: 100%;
    }
}
.bl-contact {
    zoom: 1;
}
.bl-contact:before,
.bl-contact:after {
    content: '';
    display: table;
}
.bl-contact:after {
    clear: both;
}
.bl-contact .heading {
    font-size: 28px;
    margin-top: 25px;
}
.bl-contact .text {
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
}
.bl-contact .list {
    margin-top: 15px;
    border-top: 1px solid #d2d2d2;
}
.bl-contact .list ul {
    zoom: 1;
}
.bl-contact .list ul:before,
.bl-contact .list ul:after {
    content: '';
    display: table;
}
.places li {padding-bottom:30px;} 
.places .name {padding-left:0 !important; margin-left:0}
@media screen and (max-width: 540px) {
    .bl-text .heading,
    .bl-text h2 {
        font-size: 22px;
    }
}
.bl-contact .list ul:after {
    clear: both;
}
.bl-contact .list ul li {} .bl-contact .list ul li .name {
    font-size: 18px;
    position: relative;
}
.bl-contact .list ul li .description {
    position: relative;
    padding-left: 50px;
}
.bl-contact .list ul li.phone:before {
    content: '';
    background-image: url(../images/chat.svg);
    background-size: 100%;
    width: 55px;
    height: 55px;
    display: block;
    float: left;
    margin-right: 20px;
}
.bl-contact .list ul li.address:before {
    content: '';
    background-image: url(../images/bank.svg);
    background-size: 100%;
    width: 55px;
    height: 55px;
    display: block;
    float: left;
    margin-right: 20px;
}
.bl-contact .list ul li.schedule:before {
    content: '';
    background-image: url(../images/clock.svg);
    background-size: 100%;
    width: 55px;
    height: 55px;
    display: block;
    float: left;
    margin-right: 20px;
}
.bl-contact .map {
    margin-top: 35px;
    border-radius: 2px;
    overflow: hidden;
}
.bl-contact .points {
    float: right;
    padding-top: 52px;
}
.bl-contact .points li {
    display: inline-block;
}
.bl-contact .points li.primary {
    margin-right: 20px;
}
.bl-contact .points li.primary:before {
    content: 'в– ';
    color: #222;
    position: relative;
    top: -2px;
    margin-right: 6px;
}
.bl-contact .points li.secondary:before {
    content: 'в– ';
    color: #2e375f;
    position: relative;
    top: -2px;
    margin-right: 6px;
}
.bl-contact .button {
    float: left;
}
@media screen and (max-width: 800px) {
    .bl-contact .list ul {
        margin-top: 0;
    }
    .bl-contact .list ul li {
        float: none;
        width: auto;
        margin-top: 30px;
    }
}
.bl-form {} .bl-form .text {
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
}
.bl-form .heading {
    font-size: 28px;
    margin-top: 25px;
}
.bl-form label {
    display: block;
    font-size: 16px;
    margin-top: 25px;
    color: #2e375f;
}
.bl-form .input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #8e8a8a;
    padding: 5px;
    margin-top: 8px;
}
.bl-form textarea {
    height: 160px;
    resize: vertical;
}
.bl-form .submit {
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    background: #222;
    border-radius: 2px;
    border: none;
    padding: 9px 24px 12px 24px;
    cursor: pointer;
    margin-top: 30px;
}
@media screen and (max-width: 1000px) {
    .bl-form {
        width: 100%;
    }
}
.gl-header .top {
    zoom: 1;
    padding-top: 15px;
}
.gl-header .top:before,
.gl-header .top:after {
    content: '';
    display: table;
}
.gl-header .top:after {
    clear: both;
}
.gl-header .top .logotype {
    float: left;
}
.gl-header .top .logotype a {
    display: block;
    overflow: hidden;
    height: 50px;
}
.gl-header .top .slogan {
    float: left;
    margin-top: 18px;
    margin-left: 20px;
    font-size: 12px;
    color: #494949
}
.gl-header .top .region {
    float: right;
    margin-top: 15px;
    margin-right: 5px;
    font-weight: bold;
}
.gl-header .top .region a {
    color: #2E375F;
}
.gl-header .top .region a:before {
    content: '\f2a0';
    font-family: FontAwesome;
    margin-right: 5px;
    font-weight: normal;
}
.gl-header .bottom {
    padding: 10px 0 15px 0;
    font-size: 14px;
    white-space: nowrap;
}
.gl-header .bottom .navigation ul {
    zoom: 1;
}
.gl-header .bottom .navigation ul:before,
.gl-header .bottom .navigation ul:after {
    content: '';
    display: table;
}
.gl-header .bottom .navigation ul:after {
    clear: both;
}
.gl-header .bottom .navigation ul li {
    float: left;
    margin-left: 2.4%;
}
.gl-header .bottom .navigation ul li:first-child {
    margin-left: 0;
}
.gl-header .bottom .navigation ul li:first-child a:before {
    content: '\00a0\f108';
    font-family: FontAwesome;
    font-weight: normal;
}
.gl-header .bottom .navigation ul li:last-child {
    /*float:right;*/
}
.gl-header .bottom .navigation ul li:last-child a:before {
    content: '\f278';
    font-family: FontAwesome;
    margin-right: 5px;
    font-weight: normal;
    font-size: 14px;
}
.gl-header .bottom .navigation ul a {
    display: block;
    padding: 4px 7px 5px 7px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}
.gl-header .bottom .navigation ul a:hover {
    color: #2e375f;
}
.gl-header .bottom .navigation ul li.current-menu-item a {
    background: #efefef;
    color: #000;
    border-radius: 2px;
}
@media screen and (max-width: 980px) {
    .gl-header .top .slogan {
        display: none;
    }
    .gl-header .bottom {
        text-align: center;
    }
    .gl-header .bottom .navigation ul li {
        display: inline-block;
        float: none;
        margin-right: 2%;
    }
    .gl-header .bottom .navigation ul li:first-child {
        display: none;
    }
    .gl-header .bottom .navigation ul li:last-child {
        float: none;
        margin-right: 0;
    }
}
.gl-footer {
    zoom: 1;
    padding: 40px 0 30px 0;
    background-image: url(../images/bgfooter.jpg);
    background-repeat: repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.gl-footer::before {
    background: rgba(17, 17, 17, 0.5) none repeat scroll 0 0;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background-color: rgba(17, 17, 17, 0.9);
}
@media screen and (max-width: 540px) {
    .gl-footer {
        margin-top: 40px;
    }
}
.gl-footer:before,
.gl-footer:after {
    content: '';
    display: table;
}
.gl-footer:after {
    clear: both;
}
.gl-footer {
    font-size: 14px;
}
.gl-footer .navigation {
    width: 25%;
    float: left;
    padding: 0px 20px;
    box-sizing: border-box;
}
.gl-footer .navigation ul.menu-footer p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.gl-footer .navigation ul {
    zoom: 1;
}
.gl-footer .navigation ul:before,
.gl-footer .navigation ul:after {
    content: '';
    display: table;
}
.gl-footer .navigation ul:after {
    clear: both;
}
.gl-footer .navigation ul li {

}
.gl-footer .navigation ul a {
    display: block;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #808080;
    border-bottom: 1px dashed #404040;
    padding: 8px 0px;
    margin-bottom: 8px;
    transition: all 300ms ease-in;
}
.gl-footer .navigation ul a:hover {
    color: #404040;
}
.gl-footer .bottom {
    font-size: 12px;
    margin-top: 25px;
    color: #666;
}
@media screen and (max-width: 980px) {
    .gl-footer .bottom {
        text-align: center;
    }
    .gl-footer {
        text-align: center;
    }
    .gl-footer .navigation ul li {
        display: inline-block;
        float: none;
        margin-right: 2%;
    }
}
.gl-content {
    zoom: 1;
    width: 90%;
    max-width: 1245px;
    min-width: 480px;
    margin: 0 auto;
    position: relative;
    min-height: 600px;
}
.gl-content:before,
.gl-content:after {
    content: '';
    display: table;
}
.gl-content:after {
    clear: both;
}
.gl-contact {
    float: right;
    right: 0px;
    width: 270px;
    margin-top: 40px;
    border: 1px solid #d2d2d2;
}
#sticky-wrapper .gl-contact {
    margin: 0px;
    padding: 0px;
    right: auto;
}
.gl-contact .wrapper {
    padding: 25px 25px 75px 25px;
}
.gl-contact .heading {
    font-size: 18px;
}
.gl-contact .data {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
}
.gl-contact .links {
    margin-top: 15px;
}
.gl-contact .links li {
    padding: 10px 0;
}
.gl-contact .links li .name {
    font-size: 14px;
}
.gl-contact .links li .name a:before {
    font-family: FontAwesome;
    content: '\f061';
    color: #8e8a8a;
    margin-right: 8px;
    position: relative;
}
.gl-contact .links li .name a:hover:before {
    left: -3px;
}
.gl-contact .links li .description {
    margin-top: 5px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 15px;
    color: #8e8a8a;
}
@media screen and (max-width: 1000px) {
    .gl-contact {
        position: relative;
        width: 100%;
        margin-top: 60px;
        margin-bottom: -60px;
        border: none;
        background-position: 100% 100%;
        padding-bottom: 40px;
        display: none;
    }
    .gl-contact .wrapper {
        margin: 0;
        padding: 0;
        zoom: 1;
    }
    .gl-contact .wrapper:before,
    .gl-contact .wrapper:after {
        content: '';
        display: table;
    }
    .gl-contact .wrapper:after {
        clear: both;
    }
    .gl-contact .heading {
        font-size: 28px;
    }
    .gl-contact .heading a {
        color: #27282b;
    }
    .gl-contact .data {
        float: left;
        width: 40%;
    }
    .gl-contact .data ul {
        padding-right: 20px;
    }
    .gl-contact .links {
        float: left;
        width: 40%;
    }
    .gl-contact .links li {
        padding: 0 0 10px 0;
    }
    .gl-contact .links li .description {
        display: none;
    }
    .gl-contact .links li .icon {
        display: none;
    }
}
@media screen and (max-width: 650px) {
    .gl-contact .data {
        width: 60%;
    }
    .gl-contact .links {
        display: none;
    }
}
.gl-popups {
    display: none;
}
.up-regions {
    padding: 30px 40px 100px 40px;
    background: url(../images/russia.html) 50% 110% no-repeat;
}
.up-regions .heading {
    font-size: 22px;
    line-height: 25px;
    min-width: 200px;
}
.up-regions .list {
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
}
.up-call {
    padding: 30px 40px;
    width: 200px;
}
.up-call .heading {
    font-size: 22px;
    line-height: 25px;
    min-width: 200px;
}
.up-call .form {
    padding-top: 15px;
}
.up-call .form label {
    display: block;
    font-size: 16px;
    margin-top: 20px;
    color: #2e375f;
}
.up-call .form .input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #8e8a8a;
    padding: 5px;
    margin-top: 8px;
}
.up-call .form .submit {
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    background: #222;
    border-radius: 2px;
    border: none;
    padding: 9px 24px 12px 24px;
    cursor: pointer;
    margin-top: 20px;
}
#job-form {
    margin-top: 20px;
}
#job-form .heading-1 {
    font-size: 20px;
    margin-top: 20px;
}
#cboxPrevious,
#cboxNext,
#cboxCurrent {
    display: none !important;
}
.navigation_open {
    display: none;
}
.seo-link__title {
    margin: 40px 0;
    font-size: 24px;
    line-height: 28px;
}
@media screen and (max-width: 730px) {
    .seo-link__title {
        margin: 15px 0;
    }
}
.seo-link__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.seo-link__list {
    flex-basis: 20%;
    margin: 5px 0;
}
.seo-link__btn {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
}
.bl-contact__description {
    margin: 10px 0;
    font-size: 16px;
    line-height: 20px;
}
.bl-contact__title {
    margin: 40px 0;
    font-size: 24px;
    line-height: 28px;
}
.bl-contact__lists {
    padding-left: 30px;
}
.bl-contact__list {
    position: relative;
    margin: 10px 0;
    font-size: 16px;
    line-height: 20px;
    list-style: circle;
    box-sizing: border-box;
}
.heading-description {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.brends center {
    font: 32px Roboto; 
    padding: 40px 0 0 0;
}
@media screen and (max-width: 730px) {
    .brends center {
        padding-top: 30px;
    }
    .bl-brands ul {
        margin: 0px;
    }
    .bl-brands ul li {
        width: 13.33333%;
        margin: 15px 1.5% 0 1.5%;
    }
    .bl-brands {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 540px) {
    .brends center {
        font-size: 24px;
        padding-top: 20px;
    }
    .bl-brands {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 360px) {
    .body,
    html {
        overflow-x: hidden;
    }
    .bl-brands ul li {
        text-align: center;
        width: 30%;
        margin: 0px;
        margin-left: 3.333%;
    }
    .bl-features {
        display: none;
    }
    .bl-faults {
        margin-top: 0 !important;
    }
    .bl-faults .tabs {
        display: none;
    }
    .region {
        display: none;
    }
    .logotype {
        width: 100%;
        text-align: center;
    }
    .gl-header .bottom {
        padding: 0 0 10px 0 !important;
    }
    .gl-content,
    .bl-brands,
    .viewport {
    }
    .gl-contact {
        display: none;
    }
}
/* Scrollbar */
.scrollbar {
    margin: 1em 0 0 0;
    height: 6px;
    background: #e1e8ed;
    line-height: 0;
    border-radius: 3px;
}
@media screen and (max-width: 730px) {
    .scrollbar {
        margin: 0px 0 10px 0;
    }
}
.scrollbar .handle {
    width: 100px;
    height: 100%;
    background: #2E375F;
    cursor: pointer;
    border-radius: 3px;
}
.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}
.controls.center {
    position: absolute;
    top: 0px;
    width: 100%;
    margin-top: 72px;
}
.controls.center button {
    display: block;
    position: absolute;
    border: 0px;
    height: 225px;
    width: 80px;
    vertical-align: top;
    padding: 0px;
    cursor: pointer;
}
@media screen and (max-width: 680px) {
    .controls.center button {
        width: 30px;
        height: 180px;
    }
}
.controls.center button i {
    color: #FFF;
    font-size: 28px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #1b72ac;
    background-image: linear-gradient(to bottom, #48bdf3, #1b72ac);
    border: 0px;
    border-radius: 10%;
    text-align: center;
    margin-bottom: -10px;
}
@media screen and (max-width: 680px) {
    .controls.center button.prevPage  i {
        margin-left: -15px;
    }
}
@media screen and (max-width: 680px) {
    h1, .h1 {
        font-size: 26px ! important;
    }
}
.prevPage {
    left: 0px;
    text-align: left;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.nextPage {
    right: 0px;
    text-align: right;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 84%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 84%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}
.controls.center button.disabled {
    display: none;
}


#main-form {
    width: 100%;
    clear: both;
    display: block;
    min-height: 35px;
}
.seoshnikka .hero {
    height: 280px;
    width: 50%;
    display: block;
    overflow: hidden;
    text-align: center;
}
.seoshnikka .hero img {
    height: 100%;
    width: auto;
}
.seoshnikka .textss {
    float: right;
    width: 50%;
    padding-left: 20px;
}
@media (max-width: 640px) {
    .seoshnikka .textss,
    .seoshnikka .hero {
        width: 100%;
        height: auto;
    }
    .seoshnikka .hero img {
        height: auto;
        width: 100%;
        display: none;
    }
    .seoshnikka .textss {
        padding: 0px;
        margin-bottom: 20px;
    }
}
.brendi {
    background: #2E375F;
    display: block;
    padding: 10px 0px;
}
.brendi ul {
    margin-bottom: 0px;
}
.brendi .item a {
    height: 70px;
    width: 100%;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}
.brendi .item img {
    max-width: 100%;
    max-height: 100%;
}



.reviews-new {
    zoom: 1;
    padding: 50px 0 40px 0;
    background-image: url(../images/bgfooter.jpg);
    background-repeat: repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.reviews-new::before {
    background: rgba(17, 17, 17, 0.5) none repeat scroll 0 0;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background-color: rgba(17, 17, 17, 0.9);
}
.reviews-new .container {
    padding: 0px 15%;
}
.reviews-new .text {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-style: italic;
    line-height: 22px;
}
.reviews-new .name {
    color: #F22613;
    font-weight: bold;
    font-size: 18px;
}
.gl-text {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
    text-transform: uppercase;
    line-height: 35px;
}
.gl-text span {
    color: #F22613;
}
.black-bg .gl-text {
    color: #fff;
}
.top-models {
    background: #fff;
    padding: 50px 0 40px 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.top-models .gl-text {
    margin-bottom: 35px;
}
.top-models .item {
    border-bottom: 2px solid #F22613;
    margin-bottom: 25px;
    width: 100%;
}
.top-models .item .img {
    height: 150px;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 150px;
    margin-bottom: 25px;
}
.top-models .item .img img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.top-models .item .name {
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    min-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}
.all-bm {
    display: flex;
    flex-wrap: wrap;
}
.all-bm .item {
    border-bottom: 2px solid #F22613;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    width: 16%;
    margin-right: 0.6%;
}
.all-bm .item .img {
    height: 150px;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.all-bm .item .img img {
    width: auto;
    max-width: 80%;
    max-height: 80%;
}
.all-bm .item .name {
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    min-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}


.metro {
    float: right;
    width: 50%;
    display: inline-block;
    height: 450px;
    position: relative;
    background: url(../images/metro.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 10px 30px;
}
.metro .gl-text {
    text-shadow: -1px -1px 0px rgb(255, 255, 255);
}

.map-gl {
    float: left;
    width: 50%;
    display: inline-block;
    height: 450px;
    position: relative;
}
.map-gl iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.map-gl .text {
    background: rgba(17, 17, 17, 0.5) none repeat scroll 0 0;
    background-color: rgba(17, 17, 17, 0.9);
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 80px;
    margin-right: 50px;
    padding: 20px 30px;
        color: #808080;
}
    .map-gl .text .name {
        margin-bottom: 20px;
    }
        .map-gl .text .name a {
            color: #fff;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
        }
        .map-gl .text .name a span {
            color: #F22613;
        }
.map-gl .text a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.metro-c a {
    display: block;
    line-height: 22px;
    padding: 6px 0px;
    margin-top: 6px;
    border-bottom: 1px dashed #404040;
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    position: relative;
    padding-left: 22px;
}
.metro-c a:focus {
    color: #404040;
    text-decoration: none;
}
.metro-c svg {
    width: 16px;
    height: 16px;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 1px;
    top: 0px;
    margin-top: 8px;
}
.sname1{
    fill:#d2160a !important
}
.sname2{
    fill:#218a4f !important
}
.sname3{
    fill:#1f40a2 !important
}
.sname4{
    fill:#3399cd !important
}
.sname5{
    fill:#6b3911 !important
}
.sname6{
    fill:#fb961c !important
}
.sname7{
    fill:#a93385 !important
}
.sname8{
    fill:#eacb2b !important
}
.sname9{
    fill:#5b5b5b !important
}
.sname10{
    fill:#81b734 !important
}
.sname11,.sname15{
    fill:#50a6a4 !important
}
.sname12{
    fill:#b9c7e7 !important
}
.sname13{
    fill:#2c75c4 !important
}
.sname14{
    fill:#ffa8af !important
}

.top-servicess {
    padding: 50px 0px 40px;
    text-align: center;
}
.top-servicess .list {
    display: flex;
    flex-wrap: wrap;
}
.full-text {
    padding: 50px 0px 0px;
}
.width-img {
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
.width-img .img {
    max-width: 260px;
    width: 260px;
    min-width: 260px;
    padding-right: 20px;
    box-sizing: border-box;
    height: 180px;
    text-align: center;
}
.width-img .img img {
    max-width: 100%;
    margin-top: -13px;
    max-height: 260px;
}
.full-text p {
    line-height: 1.7;
    color: #666666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}
.full-text ul li {
    line-height: 1.7;
    color: #666666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding-left: 10px;
    margin-bottom: 10px;
}
.full-text ul li:before {
    content: '\f0a3';
    padding-right: 8px;
    color: #2E375F;
    font-family: FontAwesome;
    opacity: 0.9;
}
.full-text h2 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 35px;
    color: #333;
    text-align: center;
}
.full-text h2 span {
    color: #F22613;
}
.top-servicess a.item {
    display: flex;
    width: 50%;
    float: left;
    margin-bottom: 20px;
    padding-right: 15px;
    box-sizing: border-box;
}
.top-servicess a.item:hover,
.top-servicess a.item:focus {
    text-decoration: none;
}
.top-servicess a.item:nth-child(2n) {
    padding-right: 0px;
    padding-left: 15px;
}
.top-servicess a.item .image {
    width: 220px;
    min-width: 220px;
}
.top-servicess a.item .image img {
    width: 100%;
}
.top-servicess a.item .text {
    text-align: left;
    box-sizing: border-box;
    padding: 0px 15px;
}
.top-servicess a.item .text .name {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.42857143;
    color: #2e375f;
}
.top-servicess a.item .text .description {
    line-height: 1.7;
    color: #808080;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}
.top-servicess a.item .price .value {
    font-size: 18px;
    font-weight: 600;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
}
.top-servicess a.item .price .button {
    font-size: 12px;
    padding: 5px 17px;
    color: #fff;
    line-height: 1.5;
    border-radius: 3px;
    background: #2E375F;
    font-family: 'Open Sans', sans-serif;
    margin-top: 6px;
}
.top-servicess a.item .price .button:hover {
    background: #121525;
}

a.button {
    font-size: 13px;
        padding: 10px 26px;
            background-color: #2E375F;
                line-height: 1.3333333;
    border-radius: 6px;
        display: inline-block;
            text-align: center;
                white-space: nowrap;
    vertical-align: middle;
        user-select: none;
    background-image: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
a.button:hover {
    background: #121525;
    color: #fff;
}
.search-bm span {
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-right: 10px;
}
input {
    display: inline-block;
    width: 200px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.symbol {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e375f+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(left, rgba(46,55,95,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(46,55,95,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(46,55,95,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e375f', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    margin: 15px 0px;
        font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.model-brand {
    padding: 40px 0px;
    display: none;
}
.model-brand.active {
    display: block;
}
.model-brand .gl-text {
    margin-bottom: 20px;
    text-align: center;
}
.button-section {
    text-align: center;
    margin-top: -40px;
    padding-bottom: 40px;
}


.prices {
    text-align: center;
    padding: 40px 0px;
}
.prices table {
    width: 100%;
}
.prices table tbody {
    display: flex;
    flex-wrap: wrap;
}
.prices table tbody tr {
    min-width: 48%;
    max-width: 48%;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0px;
    line-height: 1.7;
    color: #808080;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
        align-items: center;
    -webkit-align-items: center;
}
.prices table tbody tr.bg {
    background: #eee;
}
.prices table tbody tr:nth-child(2n-1) {
    margin-right: 1%;
}
.prices table tbody tr:nth-child(2n) {
    margin-left: 1%;
}
.prices table tbody tr td:nth-child(2) {
    text-align: center;
}
.prices table tbody tr td:nth-child(1) {
    color: #2e375f;
    font-weight: 600;
}
.prices table tbody tr td:nth-child(1) a {
    border-bottom: 1px dashed #2e375f;
}
.prices table .button {
    font-size: 12px;
    padding: 5px 17px;
    color: #fff;
    line-height: 1.5;
    border-radius: 3px;
    background: #2E375F;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    cursor: pointer;
}
.prices table .button:hover {
    background: #121525;
}
.ontact-top-text {
    padding: 50px 0px 0px;
    text-align: center;
}
.bl-contact .list ul li {
    text-align: left;
}
summary {
    padding: 8px 0px;
    margin-top: 8px;
    color: #2E375F;
    cursor: pointer;
}
.service-new {
    padding: 40px 0px;
    text-align: center;
}
.ser-disc {
    display: flex;
    text-align: justify;
    align-items: center;
}
.ser-disc .text {
    width: 100%;
    line-height: 1.7;
    color: #666666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}
.ser-disc .img {
    width: 250px;
    margin-left: 20px;
    max-width: 250px;
    min-width: 250px;
}


.offer {
    padding: 50px 0px;
}
.for-lr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.ofer-left {
    display: inline-block;
    width: 80%;
    position: relative;
    padding-right: 20%;
}
.ofer-left h1 {
    font-size: 34px;
    font-family: Arial,sans-serif;
    font-weight: 600;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 15px;
    background: #2E375F;
    display: inline;
    padding: 0px 0px;
    line-height: 44px;
}
.ofer-left h1 br {
    display: none;
}
.ofer-right {
    display: inline-block;
    width: 20%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e65737+0,cb343d+100 */
    background: rgb(230,87,55); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(230,87,55,1) 0%, rgba(203,52,61,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(230,87,55,1) 0%,rgba(203,52,61,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(230,87,55,1) 0%,rgba(203,52,61,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e65737', endColorstr='#cb343d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 20px;
}
.ofer-right p.first-text {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 0px 0px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(204, 55, 63, 1);
}
.ofer-right p.first-text span {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial,sans-serif;
}
.ofer-right p.second-text {
    font-size: 24px;
    font-family: Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 26px;
    text-shadow: 0px 0px 5px rgba(204, 55, 63, 1);
}
.ofer-right p.second-text span {
    background: #333;
    padding: 0px 5px;
    font-size: 40px;
    line-height: 65px;
    border-radius: 2px;
    color: #ccc;
    font-weight: bold;
    text-shadow: 0 1px 2px #000;
    font-family: Arial,sans-serif;
    position: relative;
}
.ofer-right p.second-text span:before {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    content: '';
    background: #252525;
    left: 0px;
}
.ofer-button {
    color: #fff;
    position: absolute;
    bottom: 0px;
    display: inline-block;
    padding: 15px 20px;
    padding-right: 210px;
    background: url(../images/gift.gif);
    background-repeat: no-repeat;
    background-position: center right;
    background-color: #24295a;
    background-size: auto 100%;
}
.ofer-button .first-text {
    text-transform: uppercase;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.ofer-button .hero-form > p {
    font-size: 12px;
    display: block;
    margin: 0px;
}
.hero-form form {
    display: flex;
    flex-wrap: wrap;
}
.hero-form form .form-group {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0px;
}
.hero-form form .form-group input {
    width: 100%;
    border-radius: 3px;
    border: 0px;margin-top: -3px;
}

.hero-form form button {
    width: 47%;
    display: inline-block;
    margin-left: 2%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    border: 0px;
    height: 34px;
    border-radius: 3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e65737+0,cb343d+100 */
    background: rgb(230,87,55); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(230,87,55,1) 0%, rgba(203,52,61,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(230,87,55,1) 0%,rgba(203,52,61,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(230,87,55,1) 0%,rgba(203,52,61,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e65737', endColorstr='#cb343d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.aksiya-popupic {
    color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 16px;
    position: fixed;
    right: 0px;
    top: 0px;
    -webkit-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.37);
    text-align: left;
    padding: 16px 24px;
    font-family: 'Open Sans', sans-serif;
    background: #2E375F;
    border: 1px solid #42508c;
    z-index: 99999;
    box-sizing: border-box;
    max-width: 300px;
    width: 300px;
}
.right-form {
    max-width: 240px;
    width: 240px;
    z-index: 99999;
    position: fixed;
    box-sizing: border-box;
    right: 0px;
    top: 0px;
    margin-right: 20px;
    margin-top: 10%;
    border-radius: 5px;
    background: #24295a url(../images/gift.gif);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 16px 24px;
    border: 1px solid #42508c;
    -webkit-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.37);
    padding-bottom: 170px;
}
.right-form p {
    font-size: 10px;
    color: #fff;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.right-form p.first-text {
    font-size: 16px;
    margin-bottom: 15px;
}
.right-form p.first-text span {
    font-size: 34px;
    font-weight: bold;
    line-height: 33px;
}
.right-form p.first-text b {
    font-size: 18px;
}
.right-form input {
    border: 0px;
    outline: none;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}
.right-form button {
    width: 100%;
    height: 34px;
    margin-bottom: 10px;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    border-radius: 3px;
    background: rgb(230,87,55);
    background: -moz-linear-gradient(-45deg, rgba(230,87,55,1) 0%, rgba(203,52,61,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(230,87,55,1) 0%,rgba(203,52,61,1) 100%);
    background: linear-gradient(135deg, rgba(230,87,55,1) 0%,rgba(203,52,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e65737', endColorstr='#cb343d',GradientType=1 );
}

.search-brends .right {
    display: flex;
    flex-wrap: wrap;
}
.search-brends .right a {
    width: 12%;
    margin-left: 0.5%;    
    border-bottom: 2px solid #F22613;
    margin-bottom: 15px;
}
.search-brends .right a img {
    width: 100%;
}