RewriteEngine on

  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

  RewriteCond %{HTTPS} on
  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^(.+)/$ /$1 [R=301,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
RewriteCond %{REQUEST_URI} !^/robots\.txt$

Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-mi-mix-2-664gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-mi-mix-2
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-mi-mix-2-8128gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-mi-mix-2
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-mi4-216gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-mi4
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-mi4-316gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-mi4
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-18gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-28gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4-232gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4-332gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4-364gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4-464gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4x-332gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4x
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4x-464gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4x
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-5a-332gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-5a
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-5a-464gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-5a
Redirect 301 http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-3-pro-332gb	http://repair-mobiles.ru/remont-telefonov-xiaomi/remont-xiaomi-redmi-3-pro
Redirect 301 http://repair-mobiles.ru/remont-telefonov-sony/remont-sony-xperia-m4-aqua-dual-e2312	http://repair-mobiles.ru/remont-telefonov-sony/remont-sony-xperia-m4-aqua-dual
Redirect 301 http://repair-mobiles.ru/remont-telefonov-sony/remont-sony-xperia-m4-aqua-dual-e2333	http://repair-mobiles.ru/remont-telefonov-sony/remont-sony-xperia-m4-aqua-dual
Redirect 301 http://repair-mobiles.ru/remont-telefonov-meizu/remont-meizu-m6-note-332gb	http://repair-mobiles.ru/remont-telefonov-meizu/remont-meizu-m6-note
Redirect 301 http://repair-mobiles.ru/remont-telefonov-meizu/remont-meizu-m6-note-432gb	http://repair-mobiles.ru/remont-telefonov-meizu/remont-meizu-m6-note
Redirect 301 http://repair-mobiles.ru/remont-telefonov-meizu/remont-meizu-mx-2	http://repair-mobiles.ru/remont-telefonov-meizu/remont-meizu-mx
Redirect 301 http://repair-mobiles.ru/remont-telefonov-meizu/remont-meizu-mx-4	http://repair-mobiles.ru/remont-telefonov-meizu/remont-meizu-mx
Redirect 301 http://repair-mobiles.ru/remont-telefonov-meizu/remont-meizu-mx6-332gb	http://repair-mobiles.ru/remont-telefonov-meizu/remont-meizu-mx6
Redirect 301 http://repair-mobiles.ru/remont-telefonov-meizu/remont-meizu-mx6-432gb	http://repair-mobiles.ru/remont-telefonov-meizu/remont-meizu-mx6
Redirect 301 http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-cool1-332gb	http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-cool1
Redirect 301 http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-cool1-432gb	http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-cool1
Redirect 301 http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-cool1-464gb	http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-cool1
Redirect 301 http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-le-pro-3-432gb	http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-le-pro-3
Redirect 301 http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-le-pro-3-464gb	http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-le-pro-3
Redirect 301 http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-le-pro-3-664gb	http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-le-pro-3
Redirect 301 http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-one-pro-432gb	http://repair-mobiles.ru/remont-telefonov-leeco/remont-leeco-one-pro
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-6x-332gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-6x
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-6x-432gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-6x
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-8-332gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-8
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-8-432gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-8
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-8-464gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-8
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-8-lite-332gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-8-lite
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-8-lite-432gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-8-lite
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-9-464gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-9
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-9-6128gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-9
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-9-664gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-9
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-v9-464gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-v9
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-v9-6128gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-v9
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-v9-664gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-honor-v9
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-nova-lite-316gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-nova-lite-2017
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-4128gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-432gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-464gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-lite-332gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-lite
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-lite-432gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-lite
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-plus-464gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-plus
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-plus-6128gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-plus
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-plus-6256gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-plus
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-plus-664gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-plus
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-single-sim-432gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-single-sim
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-single-sim-464gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p10-single-sim
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p9-lite-216gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p9-lite-2017
Redirect 301 http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p9-lite-316gb	http://repair-mobiles.ru/remont-telefonov-huawei/remont-huawei-p9-lite-2017
Redirect 301 http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-padfone-mini-4-3-dokstantsiya	http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-padfone-mini-4-3
Redirect 301 http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-peg5000-316gb	http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-peg5000
Redirect 301 http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-2-ze551ml-216gb	http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-2-ze551ml
Redirect 301 http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-2-ze551ml-232gb	http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-2-ze551ml
Redirect 301 http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-2-ze551ml-416gb	http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-2-ze551ml
Redirect 301 http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-2-ze551ml-432gb	http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-2-ze551ml
Redirect 301 http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-3-max-zc553kl-232gb	http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-3-max-zc553kl
Redirect 301 http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-3-max-zc553kl-332gb	http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-3-max-zc553kl
Redirect 301 http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-4-max-zc554kl-216gb	http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-4-max-zc554kl
Redirect 301 http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-4-max-zc554kl-332gb	http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-4-max-zc554kl
Redirect 301 http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-max-zc550kl-232gb	http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-max-zc550kl
Redirect 301 http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-max-zc550kl-332gb	http://repair-mobiles.ru/remont-telefonov-asus/remont-asus-zenfone-max-zc550kl
Redirect 301 http://frankie-service.ru/ http://franke-service-center.ru