RewriteEngine on

  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

  RewriteCond %{HTTPS} on
  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^(.+)/$ /$1 [R=301,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
RewriteCond %{REQUEST_URI} !^/robots\.txt$

Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-mi-mix-2-664gb	/remont-telefonov-xiaomi/remont-xiaomi-mi-mix-2
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-mi-mix-2-8128gb	/remont-telefonov-xiaomi/remont-xiaomi-mi-mix-2
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-mi4-216gb	/remont-telefonov-xiaomi/remont-xiaomi-mi4
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-mi4-316gb	/remont-telefonov-xiaomi/remont-xiaomi-mi4
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-redmi-note-18gb	/remont-telefonov-xiaomi/remont-xiaomi-redmi-note
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-redmi-note-28gb	/remont-telefonov-xiaomi/remont-xiaomi-redmi-note
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4-232gb	/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4-332gb	/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4-364gb	/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4-464gb	/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4x-332gb	/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4x
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4x-464gb	/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-4x
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-redmi-note-5a-332gb	/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-5a
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-redmi-note-5a-464gb	/remont-telefonov-xiaomi/remont-xiaomi-redmi-note-5a
Redirect 301 /remont-telefonov-xiaomi/remont-xiaomi-redmi-3-pro-332gb	/remont-telefonov-xiaomi/remont-xiaomi-redmi-3-pro
Redirect 301 /remont-telefonov-sony/remont-sony-xperia-m4-aqua-dual-e2312	/remont-telefonov-sony/remont-sony-xperia-m4-aqua-dual
Redirect 301 /remont-telefonov-sony/remont-sony-xperia-m4-aqua-dual-e2333	/remont-telefonov-sony/remont-sony-xperia-m4-aqua-dual
Redirect 301 /remont-telefonov-meizu/remont-meizu-m6-note-332gb	/remont-telefonov-meizu/remont-meizu-m6-note
Redirect 301 /remont-telefonov-meizu/remont-meizu-m6-note-432gb	/remont-telefonov-meizu/remont-meizu-m6-note
Redirect 301 /remont-telefonov-meizu/remont-meizu-mx-2	/remont-telefonov-meizu/remont-meizu-mx
Redirect 301 /remont-telefonov-meizu/remont-meizu-mx-4	/remont-telefonov-meizu/remont-meizu-mx
Redirect 301 /remont-telefonov-meizu/remont-meizu-mx6-332gb	/remont-telefonov-meizu/remont-meizu-mx6
Redirect 301 /remont-telefonov-meizu/remont-meizu-mx6-432gb	/remont-telefonov-meizu/remont-meizu-mx6
Redirect 301 /remont-telefonov-leeco/remont-leeco-cool1-332gb	/remont-telefonov-leeco/remont-leeco-cool1
Redirect 301 /remont-telefonov-leeco/remont-leeco-cool1-432gb	/remont-telefonov-leeco/remont-leeco-cool1
Redirect 301 /remont-telefonov-leeco/remont-leeco-cool1-464gb	/remont-telefonov-leeco/remont-leeco-cool1
Redirect 301 /remont-telefonov-leeco/remont-leeco-le-pro-3-432gb	/remont-telefonov-leeco/remont-leeco-le-pro-3
Redirect 301 /remont-telefonov-leeco/remont-leeco-le-pro-3-464gb	/remont-telefonov-leeco/remont-leeco-le-pro-3
Redirect 301 /remont-telefonov-leeco/remont-leeco-le-pro-3-664gb	/remont-telefonov-leeco/remont-leeco-le-pro-3
Redirect 301 /remont-telefonov-leeco/remont-leeco-one-pro-432gb	/remont-telefonov-leeco/remont-leeco-one-pro
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-6x-332gb	/remont-telefonov-huawei/remont-huawei-honor-6x
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-6x-432gb	/remont-telefonov-huawei/remont-huawei-honor-6x
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-8-332gb	/remont-telefonov-huawei/remont-huawei-honor-8
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-8-432gb	/remont-telefonov-huawei/remont-huawei-honor-8
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-8-464gb	/remont-telefonov-huawei/remont-huawei-honor-8
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-8-lite-332gb	/remont-telefonov-huawei/remont-huawei-honor-8-lite
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-8-lite-432gb	/remont-telefonov-huawei/remont-huawei-honor-8-lite
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-9-464gb	/remont-telefonov-huawei/remont-huawei-honor-9
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-9-6128gb	/remont-telefonov-huawei/remont-huawei-honor-9
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-9-664gb	/remont-telefonov-huawei/remont-huawei-honor-9
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-v9-464gb	/remont-telefonov-huawei/remont-huawei-honor-v9
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-v9-6128gb	/remont-telefonov-huawei/remont-huawei-honor-v9
Redirect 301 /remont-telefonov-huawei/remont-huawei-honor-v9-664gb	/remont-telefonov-huawei/remont-huawei-honor-v9
Redirect 301 /remont-telefonov-huawei/remont-huawei-nova-lite-316gb	/remont-telefonov-huawei/remont-huawei-nova-lite-2017
Redirect 301 /remont-telefonov-huawei/remont-huawei-p10-4128gb	/remont-telefonov-huawei/remont-huawei-p10
Redirect 301 /remont-telefonov-huawei/remont-huawei-p10-432gb	/remont-telefonov-huawei/remont-huawei-p10
Redirect 301 /remont-telefonov-huawei/remont-huawei-p10-464gb	/remont-telefonov-huawei/remont-huawei-p10
Redirect 301 /remont-telefonov-huawei/remont-huawei-p10-lite-332gb	/remont-telefonov-huawei/remont-huawei-p10-lite
Redirect 301 /remont-telefonov-huawei/remont-huawei-p10-lite-432gb	/remont-telefonov-huawei/remont-huawei-p10-lite
Redirect 301 /remont-telefonov-huawei/remont-huawei-p10-plus-464gb	/remont-telefonov-huawei/remont-huawei-p10-plus
Redirect 301 /remont-telefonov-huawei/remont-huawei-p10-plus-6128gb	/remont-telefonov-huawei/remont-huawei-p10-plus
Redirect 301 /remont-telefonov-huawei/remont-huawei-p10-plus-6256gb	/remont-telefonov-huawei/remont-huawei-p10-plus
Redirect 301 /remont-telefonov-huawei/remont-huawei-p10-plus-664gb	/remont-telefonov-huawei/remont-huawei-p10-plus
Redirect 301 /remont-telefonov-huawei/remont-huawei-p10-single-sim-432gb	/remont-telefonov-huawei/remont-huawei-p10-single-sim
Redirect 301 /remont-telefonov-huawei/remont-huawei-p10-single-sim-464gb	/remont-telefonov-huawei/remont-huawei-p10-single-sim
Redirect 301 /remont-telefonov-huawei/remont-huawei-p9-lite-216gb	/remont-telefonov-huawei/remont-huawei-p9-lite-2017
Redirect 301 /remont-telefonov-huawei/remont-huawei-p9-lite-316gb	/remont-telefonov-huawei/remont-huawei-p9-lite-2017
Redirect 301 /remont-telefonov-asus/remont-asus-padfone-mini-4-3-dokstantsiya	/remont-telefonov-asus/remont-asus-padfone-mini-4-3
Redirect 301 /remont-telefonov-asus/remont-asus-peg5000-316gb	/remont-telefonov-asus/remont-asus-peg5000
Redirect 301 /remont-telefonov-asus/remont-asus-zenfone-2-ze551ml-216gb	/remont-telefonov-asus/remont-asus-zenfone-2-ze551ml
Redirect 301 /remont-telefonov-asus/remont-asus-zenfone-2-ze551ml-232gb	/remont-telefonov-asus/remont-asus-zenfone-2-ze551ml
Redirect 301 /remont-telefonov-asus/remont-asus-zenfone-2-ze551ml-416gb	/remont-telefonov-asus/remont-asus-zenfone-2-ze551ml
Redirect 301 /remont-telefonov-asus/remont-asus-zenfone-2-ze551ml-432gb	/remont-telefonov-asus/remont-asus-zenfone-2-ze551ml
Redirect 301 /remont-telefonov-asus/remont-asus-zenfone-3-max-zc553kl-232gb	/remont-telefonov-asus/remont-asus-zenfone-3-max-zc553kl
Redirect 301 /remont-telefonov-asus/remont-asus-zenfone-3-max-zc553kl-332gb	/remont-telefonov-asus/remont-asus-zenfone-3-max-zc553kl
Redirect 301 /remont-telefonov-asus/remont-asus-zenfone-4-max-zc554kl-216gb	/remont-telefonov-asus/remont-asus-zenfone-4-max-zc554kl
Redirect 301 /remont-telefonov-asus/remont-asus-zenfone-4-max-zc554kl-332gb	/remont-telefonov-asus/remont-asus-zenfone-4-max-zc554kl
Redirect 301 /remont-telefonov-asus/remont-asus-zenfone-max-zc550kl-232gb	/remont-telefonov-asus/remont-asus-zenfone-max-zc550kl
Redirect 301 /remont-telefonov-asus/remont-asus-zenfone-max-zc550kl-332gb	/remont-telefonov-asus/remont-asus-zenfone-max-zc550kl
Redirect 301 http://frankie-service.ru/ http://franke-service-center.ru
Redirect 301	/remont-planshetov-panasonic/remont-panasonic-toughbook-cf-d1-500gb	/remont-planshetov-panasonic/remont-panasonic-toughbook-cf-d1
Redirect 301	/remont-planshetov-panasonic/remont-panasonic-toughbook-cf-d1-320gb	/remont-planshetov-panasonic/remont-panasonic-toughbook-cf-d1
Redirect 301	/remont-planshetov-panasonic/remont-panasonic-toughbook-cf-h2-500gb	/remont-planshetov-panasonic/
Redirect 301	/remont-planshetov-panasonic/remont-panasonic-toughpad-fz-g1-8mp	/remont-planshetov-panasonic/remont-panasonic-toughpad-fz-g1
Redirect 301	/remont-planshetov-panasonic/remont-panasonic-toughpad-fz-g1-8mp-lan	/remont-planshetov-panasonic/remont-panasonic-toughpad-fz-g1
Redirect 301	/remont-planshetov-panasonic/remont-panasonic-toughpad-fz-g1-lan	/remont-planshetov-panasonic/remont-panasonic-toughpad-fz-g1
Redirect 301	/remont-planshetov-panasonic/remont-panasonic-toughpad-jt-b1	/remont-planshetov-panasonic/
Redirect 301	/remont-planshetov-panasonic/remont-panasonic-toughbook-cf-h2	/remont-planshetov-panasonic/
Redirect 301	/remont-planshetov-microsoft/remont-microsoft-surface-pro-2-512gb	/remont-planshetov-microsoft/remont-microsoft-surface-pro-2
Redirect 301	/remont-planshetov-microsoft/remont-microsoft-surface-pro-3-512gb	/remont-planshetov-microsoft/remont-microsoft-surface-pro-3
Redirect 301	/remont-planshetov-microsoft/remont-microsoft-surface-pro-4-1tb	/remont-planshetov-microsoft/remont-microsoft-surface-pro-4
Redirect 301	/remont-planshetov-microsoft/remont-microsoft-surface-pro-4-512gb	/remont-planshetov-microsoft/remont-microsoft-surface-pro-4
Redirect 301	/remont-planshetov-microsoft/remont-microsoft-surface-pro-4-512gb-type-cover	/remont-planshetov-microsoft/remont-microsoft-surface-pro-4-type-cover
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-miix-310-10-z3745-wifi	/remont-planshetov-lenovo/remont-lenovo-miix-310-10-z3745
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-miix-310-10-z8350-wifi	/remont-planshetov-lenovo/remont-lenovo-miix-310-10-z8350
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-miix-510-12-512gb	/remont-planshetov-lenovo/remont-lenovo-miix-510-12
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-miix-510-12-wifi	/remont-planshetov-lenovo/remont-lenovo-miix-510-12
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-thinkpad-10-2	/remont-planshetov-lenovo/remont-lenovo-thinkpad-10
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-thinkpad-helix-m-180gb	/remont-planshetov-lenovo/remont-lenovo-thinkpad-helix-m
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-thinkpad-helix-m-240gb	/remont-planshetov-lenovo/remont-lenovo-thinkpad-helix-m
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-thinkpad-helix-m-512gb	/remont-planshetov-lenovo/remont-lenovo-thinkpad-helix-m
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-thinkpad-helix-180gb	/remont-planshetov-lenovo/remont-lenovo-thinkpad-helix
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-yoga-tablet-10-2	/remont-planshetov-lenovo/remont-lenovo-yoga-tablet-10
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-yoga-tablet-2-pro-wifi	/remont-planshetov-lenovo/remont-lenovo-yoga-tablet-2-pro
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-yoga-tablet-3-pro-wifi	/remont-planshetov-lenovo/remont-lenovo-yoga-tablet-3-pro
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-yoga-tablet-8-2	/remont-planshetov-lenovo/remont-lenovo-yoga-tablet-8
Redirect 301	/remont-planshetov-lenovo/remont-lenovo-yoga-tablet-8-3	/remont-planshetov-lenovo/remont-lenovo-yoga-tablet-8
Redirect 301	/remont-planshetov-impression/remont-impression-imkids	/remont-planshetov-impression
Redirect 301	/remont-planshetov-hp/remont-hp-elite-x2-1012-m7-512gb	/remont-planshetov-hp/remont-hp-elite-x2-1012-m7
Redirect 301	/remont-planshetov-hp/remont-hp-elitepad-900-1-5ghz	/remont-planshetov-hp/remont-hp-elitepad-900
Redirect 301	/remont-planshetov-hp/remont-hp-elitepad-900-1-8ghz	/remont-planshetov-hp/remont-hp-elitepad-900
Redirect 301	/remont-planshetov-hp/remont-hp-pavilion-x2-z8300-532gb	/remont-planshetov-hp/remont-hp-pavilion-x2-z8300
Redirect 301	/remont-planshetov-hp/remont-hp-pro-tablet-608-wifi	/remont-planshetov-hp/remont-hp-pro-tablet-608
Redirect 301	/remont-planshetov-hp/remont-hp-pro-tablet-608-win10-home-wifi	/remont-planshetov-hp/remont-hp-pro-tablet-608
Redirect 301	/remont-planshetov-hp/remont-hp-pro-tablet-608-win10-pro-wifi	/remont-planshetov-hp/remont-hp-pro-tablet-608
Redirect 301	/remont-planshetov-hp/remont-hp-pro-x2-612-180gb	/remont-planshetov-hp/remont-hp-pro-x2-612
Redirect 301	/remont-planshetov-hp/remont-hp-x2-210-z8300-win10pro	/remont-planshetov-hp/remont-hp-x2-210-z8300
Redirect 301	/remont-planshetov-hp/remont-hp-x2-210-z8350-win10pro	/remont-planshetov-hp/remont-hp-x2-210-z8350
Redirect 301	/remont-planshetov-huawei/remont-huawei-mediapad-10-link-wifi	/remont-planshetov-huawei/remont-huawei-mediapad-10-link
Redirect 301	/remont-planshetov-huawei/remont-huawei-mediapad-m2-10-0-wifi	/remont-planshetov-huawei/remont-huawei-mediapad-m2-10-0
Redirect 301	/remont-planshetov-huawei/remont-huawei-mediapad-m2-8-0-wifi	/remont-planshetov-huawei/remont-huawei-mediapad-m2-8-0
Redirect 301	/remont-planshetov-huawei/remont-huawei-mediapad-t2-10-0-pro-wifi	/remont-planshetov-huawei/remont-huawei-mediapad-t2-10-0-pro
Redirect 301	/remont-planshetov-gigabyte/remont-gigabyte-s1082-500gb	/remont-planshetov-gigabyte/remont-gigabyte-s1082
Redirect 301	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q550-30gb-z670	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q550
Redirect 301	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q550-62gb	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q550
Redirect 301	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q550-62gb-pro	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q550
Redirect 301	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q550-62gb-pro-z670	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q550
Redirect 301	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q550-62gb-z670	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q550
Redirect 301	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q584-wifi	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q584
Redirect 301	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q665-m-512gb	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q665-m
Redirect 301	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q704-wifi	/remont-planshetov-fujitsu/remont-fujitsu-stylistic-q704
Redirect 301	/remont-planshetov-dell/remont-dell-venue-11-pro-m-win-10-pro	/remont-planshetov-dell/remont-dell-venue-11-pro-m
Redirect 301	/remont-planshetov-dell/remont-dell-venue-11-pro-m-win-8-pro	/remont-planshetov-dell/remont-dell-venue-11-pro-m
Redirect 301	/remont-planshetov-digma/remont-digma-optima-7-61	/remont-planshetov-digma/remont-digma-optima-7-6
Redirect 301	/remont-planshetov-acer/remont-acer-switch-one-10-z8300-532gb	/remont-planshetov-acer/remont-acer-switch-one-10-z8300
Redirect 301	/remont-planshetov-acer/remont-acer-switch-v-10-500gb	/remont-planshetov-acer/remont-acer-switch-v-10
Redirect 301	/remont-planshetov-acer/remont-acer-switch-v-10-532gb	/remont-planshetov-acer/remont-acer-switch-v-10
Redirect 301	/remont-planshetov-acer/remont-acer-switch-v-10-564gb	/remont-planshetov-acer/remont-acer-switch-v-10
Redirect 301	/remont-planshetov-archos/remont-archos-101-g9-250gb	/remont-planshetov-archos/remont-archos-101-g9
Redirect 301	/remont-planshetov-archos/remont-archos-101-g9-250gb-turbo-1-2	/remont-planshetov-archos/remont-archos-101-g9
Redirect 301	/remont-planshetov-archos/remont-archos-101-g9-250gb-turbo-1-5	/remont-planshetov-archos/remont-archos-101-g9
Redirect 301	/remont-planshetov-archos/remont-archos-101-g9-turbo-1-2	/remont-planshetov-archos/remont-archos-101-g9
Redirect 301	/remont-planshetov-archos/remont-archos-101-g9-turbo-1-5	/remont-planshetov-archos/remont-archos-101-g9
Redirect 301	/remont-planshetov-archos/remont-archos-80-g9-250gb	/remont-planshetov-archos/remont-archos-80-g9
Redirect 301	/remont-planshetov-archos/remont-archos-80-g9-250gb-turbo-1-2	/remont-planshetov-archos/remont-archos-80-g9
Redirect 301	/remont-planshetov-archos/remont-archos-80-g9-250gb-turbo-1-5	/remont-planshetov-archos/remont-archos-80-g9
Redirect 301	/remont-planshetov-archos/remont-archos-80-g9-turbo-1-2	/remont-planshetov-archos/remont-archos-80-g9
Redirect 301	/remont-planshetov-archos/remont-archos-80-g9-turbo-1-5	/remont-planshetov-archos/remont-archos-80-g9
Redirect 301	/remont-planshetov-archos/remont-archos-9-pctablet-atom-1100-mhz	/remont-planshetov-archos/
Redirect 301	/remont-planshetov-archos/remont-archos-9-pctablet-atom-1200-mhz	/remont-planshetov-archos/
Redirect 301	/remont-planshetov-archos/remont-archos-gamepad	/remont-planshetov-archos/
Redirect 301	/remont-planshetov-asus/remont-asus-transformer-3-t303ua-6500u	/remont-planshetov-asus/remont-asus-transformer-3-t303ua
Redirect 301	/remont-planshetov-asus/remont-asus-transformer-3-t303ua-6500u-512gb	/remont-planshetov-asus/remont-asus-transformer-3-t303ua
Redirect 301	/remont-planshetov-asus/remont-asus-transformer-3-t303ua-7500u-512gb	/remont-planshetov-asus/remont-asus-transformer-3-t303ua
Redirect 301	/remont-planshetov-asus/remont-asus-transformer-3-t303ua-512gb	/remont-planshetov-asus/remont-asus-transformer-3-t303ua
Redirect 301	/remont-planshetov-asus/remont-asus-transformer-3-t305ca-512gb	/remont-planshetov-asus/remont-asus-transformer-3-t305ca
Redirect 301	/remont-planshetov-asus/remont-asus-transformer-book-t100ta500gb	/remont-planshetov-asus/remont-asus-transformer-book-t100ta
Redirect 301	/remont-planshetov-asus/remont-asus-transformer-book-t100tam500gb	/remont-planshetov-asus/remont-asus-transformer-book-t100tam
Redirect 301	/remont-planshetov-asus/remont-asus-transformer-book-t302ca-m7-512gb	/remont-planshetov-asus/remont-asus-transformer-book-t302ca-m7
Redirect 301 /remont-kofemashin-c3 /
