.new-banner{
    background: #edf1f4;
    text-align: center;
}


.new-banner img{
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
}


.blue-banner-wrap .h2 p{
    text-transform: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 35px;
}


.blue-banner .container{
    padding-top: 50px;
}


.old-price{
    position: relative;
    display: block;
    padding-top: 5px;
    color: #7b7b7b;
    font-size: 24px;
}


.old-price:after{
    content: '';
    display: block;
    background: url("../images/old-price-bg.png") no-repeat;
    width: 58px;
    height: 20px;
    position: absolute;
    left: -2px;
    top: 5px;
}


.equipment .item-rad{
    vertical-align: top;
}


.attention p{
    text-transform: none;
}


.h4{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 34px;
    margin-top: -20px;
}


.square{
    width: 470px;
    height: 126px;
    background: #eef7ff;
    position: relative;
    overflow: hidden;
}

.square .ins{
    display: table-cell;
    vertical-align: middle;
    width: 470px;
    height: 126px;
    padding-left: 20px;
    position: relative;
}

.square .ins *{
    display: inline-block;
    vertical-align: middle;

}


.square .num{
    display: block;
    position: absolute;
    color: #dfe2e5;
    font-size: 200px;
    font-weight: 900;
    left: 75%;
    top: -35px;
}

.square p{
    padding-left: 15px;
}

.square{
    margin-bottom: 25px;
}

.square + .square{
    margin-left: 25px;
}

.step3 .green-btn{
    display: block;
    width: 230px;
    height: 50px;
    border-radius: 0;
    text-align: center;
    padding-top: 15px;
    text-transform: none;
    font-size: 18px;
    margin: 40px auto;
}


.step3 .items{
    max-width: 965px;
}


.mobile-shows{
    display: none;
}


.parallax-banner{
    background: url("../images/ragnar-bg.jpg") no-repeat 50% 50%;
    background-size: 100% auto;
    overflow: hidden;
    position: relative;
}


.parallax-banner .ragnar-bg{
    background: url("../images/ragnar-bg2.jpg") no-repeat 50% 50%;
    background-size: 100% auto;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.parallax-banner .container{
    position: relative;
    min-height: 680px;
}


.parallax-banner .img{
    height: 680px;
    width: 656px;
    left: -70px;
    bottom: 0;
    position: absolute;
}


.ragnar{
    position: absolute;
    background: url("../images/ragnar.png") no-repeat center center;
    height: 640px;
    width: 656px;
    background-size: auto 100%;
    left: 0;
    bottom: 0;
}


.parallax-banner .a{
    position: absolute;
    left: 70px;
    background: url("../images/a.png") no-repeat center center;
    background-size: 100% auto;
    width: 114px;
    height: 72px;
    top: 128px;
}


.blood-flashit{
    -webkit-animation: flash ease-out 6s infinite;
    -moz-animation: flash ease-out 6s infinite;
    animation: flash ease-out 6s infinite;
    animation-delay: 1s;
    opacity: 0;
}

@-webkit-keyframes flash {
    from { opacity: 0; }
    92% { opacity: 0; }
    93% { opacity: 0.6; }
    94% { opacity: 0.2; }
    96% { opacity: 0.9; }
    to { opacity: 0; }
}

body {
    height: auto !important;
}

@keyframes flash {
    from { opacity: 0; }
    92% { opacity: 0; }
    93% { opacity: 0.6; }
    94% { opacity: 0.2; }
    96% { opacity: 1; }
    to { opacity: 0; }
}


.c-green{
    color: #00a651;
}


.c-white{
    color: #ffffff;
}


.parallax-banner .name{
    font-size: 80px;
    display: block;
    text-transform: uppercase;
    line-height: 80px;
    margin-bottom: 25px;
}

.parallax-banner .info{
    padding-top: 120px;
    text-align: right;
}

.parallax-banner .info p{
    text-transform: uppercase;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 40px;
}

.parallax-banner .info .price strong{
    font-size: 145px;
}

.parallax-banner .info .price{
    padding-bottom: 50px;
}

.parallax-banner .info .price span{
    font-size: 80px;
    position: relative;
    text-transform: uppercase;

}


.parallax-banner .info .price span:before{
    content: '-';
    font-size: 80px;
    font-family: 'pfdin', sans-serif;
    position: absolute;
    display: block;
    left: 2px;
    bottom: 1px;

}

.parallax-banner .info .green-btn{
    font-size: 18px;
    width: 230px;
    border-radius: 0;
    height: 55px;
    text-align: center;
    display: inline-block;
    padding-top: 20px;

}


.ttu{
    text-transform: uppercase;
}


.only-on .container{
    overflow: auto;
    padding: 75px 0 5px;
}


.only-on .block{
    width: 32%;
    background: #f1f5f9;
    padding: 30px;
    height: 280px;
    position: relative;
}

.only-on .block + .block{
    margin-left: 2%;
}

.blue-line .ttn{
    font-size: 22px;
    line-height: 26px;
}


.h2.ttn{
    text-transform: none;
}


.only-on .block .name{
    font-size: 24px;
    line-height: 28px;
    display: block;
    margin-bottom: 35px;
}

.only-on .block img{
    display: block;
    margin-bottom: 30px;
    width: auto;
    height: auto;
    max-width: 100%;

}

.only-on .block a{
    text-decoration: none;
    color: #595858;
    font-size: 16px;
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.only-on .block a:hover{
    color: #000;
}


.h2.act{
    font-size: 36px;
    line-height: 50px;
}


.block30 .square{
    width: 32%;
    float: left;
    display: block;
    height: 295px;
    position: relative;
}

.block30 .square .ins td{
    display: block;
    vertical-align: top;
    padding-bottom: 25px;
}

.block30 .square .ins{
    padding: 20px 20px 0 35px;
}

.block30 .square + .square{
    margin-left: 2%;
}


.step.pad-no .item{
    padding-left: 0;
}


.step3 .block30 .num{
    top: auto;
    bottom: -35px;
    right: -20px;
    color: #d6e4fb;
    left: auto;
    line-height: 200px;
}

.step3 .block30 .square p{
    padding-left: 0;
    font-size: 18px;
    line-height: 24px;
    padding-top: 20px;
}

.step3.pad-no .items{
    max-width: inherit;
}

.step3 .block30 .square .ins{
    display: block;
    width: auto;
    height: auto;
    position: static;
}

.step3 .block30 .square .ins *{
    display: block;
}


.form .item-chk input{
    width: auto;
    height: auto;
}

.form .item-chk label{
    padding-left: 40px;
    height: auto;
    padding-top: 5px;
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
}


.form .item-chk label:before{
    left: 0;
    top: 12px;
}


.form .already{
    padding-bottom: 30px;
}

.step3.pad-no .h3{
    padding-left: 100px;
}