#neispravnost .punkt.promo {
    background: url(../mieleimages/mielepromobg.jpg);
}
#neispravnost .punkt.contact {
    background: url(../mieleimages/mielecontectbg2.jpg);
    background-position: right;
}
#skidka {
    background: url(../mieleimages/mielebgsale.jpg) center no-repeat;
}
.video .bg-all {
    background: #a20001 url(../mieleimages/mielebg-footer.svg);
    background-size: 10%;
}
#ask-form {
    box-sizing: border-box;
    background: #a20001 url(../mieleimages/mielebg-footer.svg);
    background-size: 180px;
}

#primushestva .punkt .fil1 {
    fill:#a20001;
}
.time-work {
    color: #333;
}
#header .nav ul li a {
    color: #a20001;
}
.tel .phone {
    color: #333;
}
.tel .phone:hover {
    color: #333;
}
.tel .phone:before {
        background: #fff;
        color: #333;
}
#banner .full-text .h1 {
    color: #333;
}
.hero-form__btn {
  border: 1px solid #333;
  background: #333;
}
#primushestva .punkt .h2 {
    color: #333;
}
#neispravnost .punkt a .big-text {
    color: #333;
}
#neispravnost .punkt.promo a {
    border: 8px solid #333;
}
.more a {
    color: #333;
    border: 1px solid #333;
}
#zakaz .left {
    background: #333;
}
.left-bar .left-menu li.active a {
    color: #333;
    border-bottom: 1px solid #333;
}
.nav-icon2 span {
    background: #333;
}
#ask-form .container .right button {
    border: 1px solid #333;
    background: #333;
}


.container a {
    color: #a20001;
}
#header .nav ul li.active a:after,
#header .nav ul li a:hover:after {
    background: #a20001;
}
#banner .right-text ul li:before {
    background: #a20001;
}
input#phone {
    border: 1px solid #a20001;
}
input.phone {
    border: 1px solid #a20001;
}
input#phone:focus {
    border: 1px solid #a20001;
}
.hero-form__btn:hover {
    background: #a20001;
    border: 1px solid #a20001;
}
#banner .right-text .happy-time p {
    color: #fff;
}
#banner .right-text .happy-time p span {
    color: #a20001;
}
#primushestva .punkt:hover .h2 {
    color: #a20001;
}
#neispravnost .punkt a:hover .big-text {
    color: #a20001;
}
#neispravnost .punkt a .price {
    color: #e2676c;
}
#neispravnost .punkt a .price .new {
    background: #a20001;
}
#neispravnost .punkt a ul li:before {
    background: #a20001;
}
#neispravnost .punkt.promo a ul li:before,
#neispravnost .punkt.promo a .price .new {
    color: #a20001;
}
.more a:hover {
    background: #a20001;
    color: #fff;
    border: 1px solid #a20001;
}
#footer {
    background: #a20001;
}
#footer .tel .phone:before {
    color: #a20001;
}
.popup .wight div.close {
    background-color: #a20001;
}
#hlebniye-kroshki ul li {
    color: #a20001;
}
#hlebniye-kroshki ul li a:hover {
    color: #a20001;
}
.pagination li:hover {
    background: #a20001;
}
.pagination li.active a {
    color: #a20001;
}
.left-bar .left-menu {
    border: 4px solid #a20001;
}
.left-bar .left-menu li a {
    color: #a20001;
}
.left-bar .left-menu li a:hover {
    color: #a20001;
}
.left-bar .left-menu  .other {
    background: #a20001;
}
table.pricelist td {
    color: #a20001;
}
table.pricelist td.order .popup-zakaz {
    background: #a20001;
}
#bran .brands .row:hover div {
    color: #a20001;
}
#bran .brands .row ul li:hover {
    border: 1px solid #a20001;
}
#bran .brands .row ul li:hover a {
    color: #a20001;
}
.more div {
    color: #a20001;
    border: 1px solid #a20001;
}
.more div:hover {
    background: #a20001;
    border: 1px solid #a20001;
}
#links ul li a {
    color: #a20001;
}
#links ul li a:hover {
    color: #a20001;
}
#ask-form .container .right button:hover {
    background: #a20001;
}
.ui-autocomplete-input {
    border: 1px solid #a20001;
}
.ui-menu .ui-menu-item:hover {
    background: #a20001;
    border-bottom: 1px solid #a20001;
}
.all-contact h2 span.active {
    background: #a20001;
}
#otzvi .otziv .h3 {
    border-bottom: 1px solid #a20001;
}


#header .logo {
        margin-top: 0px;
        width: 150px;
}
#skidka .container {
    color: #a20001;
}
#skidka .more div {
    border: #a20001 1px solid;
    color: #a20001;
}
#skidka .more div:hover {
    color: #fff;
}
#neispravnost .punkt.promo a .big-text,
#neispravnost .punkt.promo a ul li,
#neispravnost .punkt.promo a .price {
    color: #fff;
}


@media screen and (min-width: 830px) {
    table.pricelist td.name a:hover {
        color: #a20001;
    }
}
@media screen and (max-width: 830px) {
    #header .nav {
        background: #a20001;
    }
    #header .nav ul li a, .is-sticky #header .nav ul li a {
            border-bottom: 1px solid #fff;
            border-top: 1px solid #4c525e;
            color: #fff;
    }
    #header .logo {
        margin-top: 8px;
        width: 150px;
    }





}


@media screen and (max-width: 680px) {
        .video .bg-all {
        background: #a20001 url(../mieleimages/mielebg-footer.svg);
        background-size: 30%;
    }
}
@media screen and (max-width: 540px) {
        #neispravnost .punkt.promo {
        background: url(../mieleimages/mielepromobg.jpg);
        background-position: 0px 0px;
    }
    input.phone {
        border: 1px solid #a20001;
    }
    #footer {
        background: none;
    }
}


#banner .right-text .h1 {
    color: #a20001;
}
section .container .title {
    border-bottom: 2px solid #a20001;
    color: #a20001;
}

#neispravnost .punkt.contact > div div.big-text {
    color: #fff;
}
#neispravnost .punkt.contact > div p {
    color: #fff;
}

input#phone2 {
    border: 1px solid #fff;
    color: #fff;
}
input#phone2::-webkit-input-placeholder {
    color: #fff;
}

input.phone2 {
    border: 1px solid #fff;
    color: #fff;
}
input.phone2::-webkit-input-placeholder {color:#fff;}
input.phone2::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
input.phone2:-moz-placeholder           {color:#fff;}/* Firefox 18- */
input.phone2:-ms-input-placeholder      {color:#fff;}


#scroller{
    background: #a20001;
}

.options h3 {
    color: #a20001;
}