 /*------------------------saru----------------------------------------------------------------------*/
 body,
 h1,
.title_h1,
.form__text,
.form__input,
.form__select,
.form__textarea,
.form__symbol,
.nav__sublink,
.sidebar__item.active .sidebar__link,
.sidebar__link:hover,
.reviews__name,
.steps__name,
.steps_context .steps__text,
.faq__item:hover .faq__head,
.stock__label {
 	color: #333;
 }
 .text-warning,
 .form__textarea.error ~ .form__label,
 label.error,
 .header__name,
 .color-red,
 .pagination li a:hover,
 .pagination li.active a,
 .menu__tab_active .menu__type,
 .connect__phone a[href^="tel"],
 .footer a.connect__email,
  .footer a:hover,
  .complain h3:first-child,
  .connect__phone a[href^="tel"] {
     color: #9da2b6;
 }
 .button_warning,
 .poster_button,
 .menu__tab_neispravnosti:before,
 .menu__tab_neispravnosti:after,
 .stock__status,
 .breaking__point:before,
 .breaking__pagination .swiper-pagination-bullet:after,
 .office-content ol > li::before,
.menu__tab_cleaning:before,
.menu__tab_cleaning:after,
 .menu__tab:after,
 .menu__tab:before {
     background-color: #83848a;
 }
 .form__input.error,
 .form__select.error,
 .form__textarea.error {
     border-color: #202132;
 }
 .menu__tab_cleaning.menu__tab_active .menu__ico-path,
 .menu__tab_neispravnosti.menu__tab_active .menu__ico-path,
 .menu__tab_repare.menu__tab_active .menu__ico-path,
 .menu__tab_electronic.menu__tab_active .menu__ico-path {
     fill: #9da2b6;
     stroke: #9da2b6;
 }
 .breaking__point {
     box-shadow: 0 0 0 6px #202132;
 }
 .breaking__point:hover {
     box-shadow: 0 0 0 16px #202132;
 }
 .breaking__point_active {
     box-shadow: 0 0 0 16px #202132, 0 0 0 32px rgba(244, 43, 54, .5) !important;
 }
 /*----------------------------------------------------------------------------------------------*/
 
 .button_warning:hover,
 .poster_button:hover {
     background: #9da2b6;
 }
 #messenger {
     color: #9da2b6;
 }
 .errorCheck {
     border: 1px solid #9da2b6;
     padding: 5px 0;
 }
 /*-------------jigarren----------------------------------------------*/
 
 .swiper-pagination-bullet-active,
 .callbackForm,
 .cost,
 .office-content table tr:hover,
 .menu,
 .menu__type,
 .footer,
 .complain__box,
 .pagination li.active a{
     background-color: #3d3950;
 }
 h2 b,
 .title_h2 b,
 .popup__title b,
 h3 b,
 .title_h3 b,
 a,
 .header__slogan,
 .nav__item_location .nav__link,
 .post__phone,
 .post__email,
 .reviews_context .reviews__out,
 .reviews__single .reviews__out,
 .blog__details,
 .faq__head,
 .stock__details,
 .office-content a[href^="tel"],
 .office__brands > span,
 .reviews__text_popup p,
 .reviews__name,
 .reviews__box, .articles__box, .consultation__box,
 .button_lined, .reviews__all, .consultation__all, .articles__all, .masters__button,
 .content__title,
 h3:first-child, 
 .title_h3:first-child,
 .poster h1, .poster p {
     color: #3d3950;
 }
 .form__symbol,
 .reviews_context .reviews__box:before,
 .reviews_context .articles__box:before,
 .reviews_context .consultation__box:before,
 .reviews__container:before,
 .menu__tab_active .menu__type,
 .button_lined, .reviews__all, .consultation__all, .articles__all, .masters__button {
     border-color: #3d3950;
 }
 .nav__item_location .nav__link:after {
     border-top-color: #3d3950;
 }
 .menu__action-ico_path {
     fill: #3d3950;
 }
 /*----------------------------------------------------------------------------------------------*/
 
 a:hover,
 .nav__link:hover,
 .nav__sublink:hover,
 .menu__go:hover,
 .reviews_context .reviews__out:hover,
 .reviews__single .reviews__out:hover {
     color: #9da2b6;
 }
 .button:hover,
 .poster_button:hover,
 .reviews__all:hover,
 .consultation__all:hover,
 .articles__all:hover,
 .masters__button:hover,
 .button_normal:hover {
     color: #fff;
 }
 .form__input:focus,
 .form__select:focus,
 .form__textarea:focus {
     border-color: #9da2b6;
 }
 .nav__item_location .nav__link:hover:after,
 .nav__item_more .nav__link:hover:after {
     border-top-color: #9da2b6;
 }
 /*-------------yashil----------------------------------------------*/
 .text-success,
 .connect__email:hover,
 .post__content li:before,
 .reviews__out:hover
{
    color: #9da2b6;
}
.button_success,
.page_open .header__burger-ico:before,
.page_open .header__burger-ico:after,
.menu__action:hover,
.sidebar__item.active .sidebar__link,
.sidebar__link:hover,
.stock__status_finished,
.button_success:hover,
.button_lined:hover,
.reviews__all:hover,
.consultation__all:hover,
.articles__all:hover,
.masters__button:hover,
.tseni-na-uslugi
{
    background-color: #9da2b6;
}
.form__help:hover .form__help-path,
.search__input:focus ~ .search__ico .search__ico-path,
.search__ico:hover .search__ico-path
{
    fill: #9da2b6;
}

.footer__tab_cleaning .footer__type:hover .footer__ico-path
{
    fill: #9da2b6;
    stroke: #9da2b6;
}
.menu__action:hover,
.faq__item_active,
.button_lined:hover,
.reviews__all:hover,
.consultation__all:hover,
.articles__all:hover,
.masters__button:hover
{
    border-color: #9da2b6 !important;
}



.menu__panel .menu__inner {
	background: none;
}

.menu:before,
.footer__navigation,
.footer:before {
	border-color: #605c73;
}
.menu {
    border: 0px ! important;
}
.menu__ico-path {
    fill: #fff;
    stroke: #fff;
}
.connect_header {
	top: 5px;
}
.header__site {
	top: 8px;
}
.menu_active .menu__panel {
	background: #fff;
}
.menu__type,
.footer,
.footer .connect__schedule,
.complain__text {
	color: #fff;
}
.footer {
	margin-top: 20px;
}
.footer:before
{
    background: url('../images/footer_decor.png') repeat-x 50% 100%;
}
.popular__box .popular__text, .popular__item_active .popular__text {
	    background: #3d3950;
	    background: rgba(48, 29, 15, 0.48);
}
.popular__box:hover .popular__text {
	background: rgba(48, 29, 15, 0.81);
}








.popup__close:hover
{
    background-image: url('../images/100/ico_close_color6170.svg?v=1485504369723');
}
.reviews__out
{
    background: url('../images/100/arrow_thin_out6170.svg?v=1485504369723') no-repeat 100% 50%;
}
.reviews__out:hover
{
    background-image: url('../images/100/arrow_thin_out_hover6170.svg?v=1485504369723');
}
.reviews__next:hover,
.articles__next:hover,
.consultation__next:hover,
.brands__next:hover,
.reviews__prev:hover,
.articles__prev:hover,
.consultation__prev:hover,
.brands__prev:hover
{
    background-image: url('../images/100/arrow_left_active6170.svg?v=1485504369723');
}
.reviews__next:hover,
.articles__next:hover,
.consultation__next:hover,
.brands__next:hover
{
    background-image: url('../images/100/arrow_right_active6170.svg?v=1485504369723');
}
.blog__details,
.stock__details
{
    background: url('../images/100/arrow_right_bold6170.svg?v=1485504369723') no-repeat 100% 50%;
}
.reviews_context .reviews__out:hover,
.reviews__single .reviews__out:hover
{
    background-image: url('../images/100/arrow_thin_link_hover6170.svg?v=1485504369723');
}
.reviews_context .reviews__out,
.reviews__single .reviews__outE
{
    background-image: url('../images/100/arrow_thin_link6170.svg?v=1485504369723');
}
.connect__email
{
    background: url('../images/100/ico_email_open6170.svg?v=1485504369723') no-repeat 0 2px;
}
.complain__action
{
    background: url('../images/100/ico_happy6170.svg?v=1485504369723') no-repeat 0 50%;
}
.form__element_valid .form__input_email
{
    background-image: url('../images/100/ico_mail_small_valid6170.svg?v=1485504369723');
}
.form__element_valid .form__input_address
{
    background-image: url('../images/100/ico_pin_small_valid6170.svg?v=1485504369723');
}
.complain__action_negative
{
    background-image: url('../images/100/ico_sad6170.svg?v=1485504369723');
}
.form__element_valid .form__input_name
{
    background-image: url('../images/100/ico_user_valid6170.svg?v=1485504369723');
}
.post__play
{
    background: url('../images/100/video_play6170.svg?v=1485504369723') no-repeat 50% 50%;
}



@media screen and (max-width: 1000px) {
    .poster h1,
    .poster p 
    {
    	color: #333;
    }
}

.sidebar__item.active .sidebar__link, .sidebar__link:hover {
	background-color: #3d3950;
	color: #fff;
	border-color: #9da2b6;
}
footer a {
    color: #fff;
}
@media screen and (max-width: 600px) {
    .header__site img {
        margin-top: -3px;
    }
}
footer .connect__phone a[href^="tel"],
.complain h3:first-child {
    color: #fff;
}
.connect__phone a[href^="tel"] {
    color: #202132;
}
.reviews__box p, .reviews__carousel .reviews__box p,
.reviews__text_popup p {
    color: #333;
}

.out-imgb .menu__item {
    font-size: 12px;
}
nav .out-imgb .menu__item {
    display: none;
    font-size: 12px;
}
nav .out-imgb .menu__item:nth-child(-n+119) {
    display: block;
}