
                        <!--<a href="#" target="_blank" class="header--socials-item fb">
                            <i class="icon-fb"></i>
                        </a>
                        <a href="#" target="_blank" class="header--socials-item tw">
                            <i class="icon-tw"></i>
                        </a>
                        <a href="#" target="_blank" class="header--socials-item ok">
                            <i class="icon-ok"></i>
                        <a>-->

                    <!--<div class="header--chats hidden-sm">
                        <div class="header--chats-t">Онлайн</div>
                        <div class="header--chats-b">
                            <a class="header--chat" tabindex="0" role="button" data-hover="popover" data-popover-id="WhatsappTooltip" data-placement="bottom">
                                <i class="icon-whatsapp-o"></i>
                            </a>
                            <a class="header--chat" tabindex="0" role="button" data-hover="popover" data-popover-id="SkypeTooltip" data-placement="bottom">
                                <i class="icon-skype-o"></i>
                            </a>
                            <a class="header--chat" tabindex="0" role="button" data-hover="popover" data-popover-id="ViberTooltip" data-placement="bottom">
                                <i class="icon-viber-o"></i>
                            </a>
                            <a class="header--chat" tabindex="0" role="button" data-hover="popover" data-popover-id="TelegramTooltip" data-placement="bottom">
                                <i class="icon-telegram-o"></i>
                            </a>
                        </div>
                    </div>
                    <div class="header--chats visible-sm">
                        <div class="header--chats-t">Онлайн</div>
                        <div class="header--chats-b"><a class="header--chat" href="#"><i class="icon-whatsapp-o"></i></a></div>
                        <div class="header--chats-d">
                            <a class="header--chats-r" href="#">
                                <i class="icon-whatsapp-o"></i>
                                <span class="popover-box--chat-t">Whatsapp</span>
                                <span class="popover-box--chat-p">+7 (916) 380-21-81</span>
                                <span class="popover-box--chat-d">Только в режиме чата</span>
                            </a>
                            <a class="header--chats-r" href="#">
                                <i class="icon-skype-o"></i>
                                <span class="popover-box--chat-t">Skype</span>
                                <span class="popover-box--chat-p">ntv-plus.com</span>
                                <span class="popover-box--chat-d">Чат и звонки</span>
                            </a>
                            <a class="header--chats-r" href="#">
                                <i class="icon-viber-o"></i>
                                <span class="popover-box--chat-t">Viber</span>
                                <span class="popover-box--chat-p">+7 (916) 380-21-81</span>
                                <span class="popover-box--chat-d">Только в режиме чата</span>
                            </a>
                            <a class="header--chats-r" href="#">
                                <i class="icon-telegram-o"></i>
                                <span class="popover-box--chat-t">Telegram</span>
                                <span class="popover-box--chat-p">ntvplus_bot</span>
                                <span class="popover-box--chat-d">Только в режиме чата</span>
                            </a>
                        </div>
                    </div>-->
                    