a{
     color:#b12222;
}
 a:hover{
     color:#801919;
}
 .intro{
     background-color: #b12222;
}
 .faults__item-prices .price {
     background-color:#b12222;
}
 .btn-outline-primary {
     color:#b12222;
     border-color:#b12222 
}
 .btn-outline-primary:hover{
     background-color:#b12222;
     border-color:#b12222 
}
 .btn-outline-primary:not(:disabled):not(.disabled):active,.btn-outline-primary:not(:disabled):not(.disabled).active,.show>.btn-outline-primary.dropdown-toggle{
     background-color:#b12222;
     border-color:#b12222 
}
 .warranty__image:before{
     background-color:#b12222;
}
 .btn-primary{
     background-color:#b12222;
     border-color:#b12222 
}
 .btn-primary:hover{
     background-color:#b12222;
     border-color:#801919 
}
 .btn-primary:focus,.btn-primary.focus{
     box-shadow:0 0 0 .2rem rgba(128, 25, 25, 0.72)
}
 .btn-primary.disabled,.btn-primary:disabled{
     background-color:#b12222;
     border-color:#b12222 
}
 .btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled).active,.show>.btn-primary.dropdown-toggle{
     background-color:#801919;
     border-color:#801919 
}
 .btn-primary:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-primary.dropdown-toggle:focus{
     box-shadow:0 0 0 .2rem rgba(128, 25, 25, 0.72)
}
 .custom-control-input:checked ~ .custom-control-label::before{
     background-color:#b12222 
}
 .custom-control-input:focus ~ .custom-control-label::before{
     box-shadow:0 0 0 1px #fff,0 0 0 .2rem rgba(154,8,9,0.25) 
}
 .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
     background-color:#b12222 
}
 .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before{
     background-color:#b12222 
}
 .custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before{
     background-color:rgba(128, 25, 25, 0.72)
}
 .custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before{
     background-color:rgba(128, 25, 25, 0.72)
}
 .custom-radio .custom-control-input:checked ~ .custom-control-label::before{
     background-color:#b12222 
}
 .custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before{
     background-color:rgba(128, 25, 25, 0.72)
}
 .custom-file-input:focus ~ .custom-file-control{
     box-shadow:0 0 0 .2rem rgba(154,8,9,0.25) 
}
 .nav-pills .nav-link.active,.nav-pills .show>.nav-link{
     background-color:#b12222 
}
 .page-link{
     color:#b12222;
}
 .page-link:hover{
     color:#801919;
}
 .page-link:focus{
     box-shadow:0 0 0 .2rem rgba(154,8,9,0.25) 
}
.form-control:focus{
     box-shadow:0 0 0 .2rem rgba(154,8,9,0.25) 
}
 .page-item.active .page-link{
     background-color:#b12222;
     border-color:#b12222 
}
 .badge-primary{
     background-color:#b12222 
}
 .badge-primary[href]:hover,.badge-primary[href]:focus{
     background-color:#801919 
}
 .alert-primary{
     color:#b12222;
}
 .alert-primary .alert-link{
     color:#b12222 
}
 .list-group-item.active{
     background-color:#b12222;
     border-color:#b12222 
}
 .list-group-item-primary{
     color:#b12222;
}
 .list-group-item-primary.list-group-item-action:hover,.list-group-item-primary.list-group-item-action:focus{
     color:#b12222;
}
 .list-group-item-primary.list-group-item-action.active{
     background-color:#b12222;
     border-color:#b12222 
}
 .bg-primary{
     background-color:#b12222 !important 
}
 a.bg-primary:hover,a.bg-primary:focus,button.bg-primary:hover,button.bg-primary:focus{
     background-color:#801919 !important 
}
 .border-primary{
     border-color:#b12222 !important 
}
 .text-primary{
     color:#b12222 !important 
}
 a.text-primary:hover,a.text-primary:focus{
     color:#801919 !important 
}
 .template-page header,.template-fault header,.template-service header{
     background-color:#b12222;
}
 .sidebar-toggle__option.active:before{
     background:#b12222 
}
 .sidebar-toggle__option:hover:before{
     background:#b12222 
}
 .sidebar-collapse{
     background:#801919;
}
 .sidebar-collapse a:hover:before{
     background:#b12222 
}
 .sidebar-collapse a.active{
     background:#b12222;
}
 .content__fault-icon{
     background:#b12222;
}
 .content__service-icon{
     background:#b12222;
}
 .content__pricebox{
     background:#b12222;
}
 .models-list__letter{
     background:#b12222;
}
 .callback{
     background-color:#b12222;
}
 .promo__countdown-circle .e-c-progress{
     stroke:#b12222;
}
 .promo__countdown-circle .e-c-pointer{
     fill:#b12222 
}
 .promo__countdown-time{
     color:#b12222 
}
 .footer__phone a:hover{
     background:#b12222 
}
 .footer__divider{
     background:#b12222 
}
.callback{
    background-image: url("../../../img/brands/nivona/callback-bg.png"), url("../../../img/about-bg.png");
}
.content__fault-image,
.content__service-image{
    background-image :url("../../../img/brands/nivona/fault__image.png");
}
.faults__item.item-first{
    background-image:url("../../../img/brands/nivona/faults__item-first.jpg");
}
.intro__preview{
    background-image:url("../../../img/brands/nivona/intro__model.png");
}
.promo{
    background-image:url("../../../img/brands/nivona/promo-bg.jpg");
}
.warranty__image:after{
    background-image:url("../../../img/brands/nivona/warranty-bg.png");
}