#neispravnost .punkt.promo {
    background: url(../gaggiaspbimages/gaggiaspbpromobg.jpg);
}
#neispravnost .punkt.contact {
    background: url(../gaggiaspbimages/gaggiaspbcontectbg2.jpg);
    background-position: right;
}
#skidka {
    /*background: url(../images/mid-banner1-bg.jpg) center no-repeat;*/
}
.video .bg-all {
    /*background: #333 url(../images/bg_main_slider.jpg) center center;*/
}
#ask-form {
    box-sizing: border-box;
    background: #333 url(../images/footer-bg.jpg) center center;
}
.video #primushestva .container:before {
    background: url(../gaggiaspbimages/gaggiaspbservice-img.jpg);
}
.models-gl span {
    background: #ef4023;
}

#primushestva .punkt .fil1 {
    fill:#ef4023;
}
.time-work {
    color: #fff;
}
#header {
    background: #ef4023;
}
#header .nav ul li a {
    color: #fff;
}
.tel .phone {
    color: #fff;
}
.tel .phone:hover {
    color: #fff;
}
.tel .phone:before {
        background: #fff;
        color: #ef4023;
}
#banner .full-text .h1 {
    color: #ef4023;
}
.hero-form__btn {
  border: 1px solid #ef4023;
  background: #ef4023;
}
#primushestva .punkt .h2 {
    color: #333;
}
#primushestva .punkt:hover .h2 {
    color: #ef4023;
}
#neispravnost .punkt a .big-text {
    color: #ef4023;
}
#neispravnost .punkt.promo a {
    border: 8px solid #ef4023;
}
.more a {
    color: #ef4023;
    border: 1px solid #ef4023;
}
#zakaz .left {
    background: url(../gaggiaspbimages/gaggiaspbchek.svg);
    background-size: 100% 100%;
}
.field-callbackform-phone:before,
.field-orderform-phone:before {
    background: #ef4023;
}
.nav-icon2 span {
    background: #fff;
}
#ask-form .container .right button {
    border: 1px solid #ef4023;
    background: #ef4023;
}
.video #banner .right-text .h1,
.video #banner .right-text p {
    color: #ef4023;
}
#banner .right-text .happy-time p {
    color: #ef4023;
}

.container a {
    color: #ef4023;
}
#header .nav ul li.active a:after,
#header .nav ul li a:hover:after {
    background: #333;
}
#banner .right-text ul li:before {
    background: #333;
}
input#phone {
    border: 1px solid #333;
}
input.phone {
    border: 1px solid #ef4023;
}
input#phone:focus {
    border: 1px solid #333;
}
.hero-form__btn:hover {
    background: #333;
    border: 1px solid #333;
}
#banner .right-text .happy-time p span {
    color: #333;
}
#neispravnost .punkt a:hover .big-text {
    color: #333;
}
#neispravnost .punkt a .price {
    color: #333;
}
#neispravnost .punkt a .price .new {
    background: #333;
}
#neispravnost .punkt a ul li:before {
    background: #333;
}
#neispravnost .punkt.promo a ul li:before,
#neispravnost .punkt.promo a .price .new {
    color: #333;
}
.more a:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

#footer .tel .phone:before {
    color: #333;
}
.popup .wight div.close {
    background-color: #333;
}
#hlebniye-kroshki ul li {
    color: #333;
}
#hlebniye-kroshki ul li a:hover {
    color: #333;
}
.pagination li:hover {
    background: #333;
}
.pagination li.active a {
    color: #333;
}
.left-bar .left-menu {
    /*border: 4px solid #333;*/
}

.left-bar .left-menu  .other {
    background: #333;
}
table.pricelist td {
    color: #333;
}
table.pricelist td.order .popup-zakaz {
    background: #ef4023;
}
#bran .brands .row:hover div {
    color: #ef4023;
}
#bran .brands .row ul li:hover {
    border: 1px solid #ef4023;
}
#bran .brands .row ul li:hover a {
    color: #ef4023;
}
.more div {
    color: #ef4023;
    border: 1px solid #ef4023;
}
.more div:hover {
    background: #333;
    border: 1px solid #333;
}
#links ul li a {
    color: #333;
}
#links ul li a:hover {
    color: #333;
}
#ask-form .container .right button:hover {
    background: #333;
}
.ui-autocomplete-input {
    border: 1px solid #ef4023;
}
.ui-menu .ui-menu-item:hover {
    background: #333;
    border-bottom: 1px solid #333;
}
.all-contact h2 span.active {
    background: #333;
}
#otzvi .otziv .h3 {
    border-bottom: 1px solid #333;
}




@media screen and (max-width: 1030px) {
    #header .logo {
        width: 140px;
        height: 45px;
    }
}
@media screen and (min-width: 830px) {
    table.pricelist td.name a:hover {
        color: #333;
    }
}
@media screen and (max-width: 830px) {
    #header .nav {
        background: #333;
    }
    #header .logo {
        width: 140px;
        height: auto;
    }




}


@media screen and (max-width: 680px) {
}
@media screen and (max-width: 540px) {
}


#banner .right-text .h1 {
    color: #ef4023;
}
section .container .title {
    border-bottom: 2px solid #ef4023;
    color: #ef4023;
}

#neispravnost .punkt.contact > div div.big-text {
    color: #fff;
}
#neispravnost .punkt.contact > div p {
    color: #fff;
}

input#phone2 {
    border: 1px solid #fff;
    color: #fff;
}
input#phone2::-webkit-input-placeholder {
    color: #fff;
}

input.phone2 {
    border: 1px solid #fff;
    color: #fff;
}
input.phone2::-webkit-input-placeholder {color:#fff;}
input.phone2::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
input.phone2:-moz-placeholder           {color:#fff;}/* Firefox 18- */
input.phone2:-ms-input-placeholder      {color:#fff;}


#scroller{
    background: #ef4023;
}

.options h3 {
    color: #ef4023;
}
.models-gl {
    background: #ef4023;
}
.models-gl:hover span {
    background: #333;
}